Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run tsc --noEmit
      # TypeScript checks the whole project, not individual files

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

fix(ci): update e2e workflow paths for monorepo and add environment
  .github/workflows/e2e.yml
  apps/web/src/app/(main)/slides/page.tsx
  apps/web/src/components/slides/PresentationActionsMenu.tsx
  packages/backend/convex/lib/prompts/operational/tagExtraction.ts
  packages/backend/convex/notes/tags.ts
  packages/backend/convex/tasks/tags.ts
Due: lint, typecheck

fix: lint errors in slides page
  apps/web/src/app/(main)/slides/page.tsx
Due: lint, typecheck

fix(ci): separate backend tests and generate convex types before tests
  .github/workflows/ci.yml
  apps/web/vitest.config.ts
  bun.lock
  packages/backend/convex/lib/prompts/operational/tagExtraction.ts
  packages/backend/package.json
  packages/backend/vitest.config.ts
Due: lint, typecheck

chore: remove .next build artifacts from git tracking
  .gitignore
Due: none

fix(ci): use local bun script for convex typecheck
  .github/workflows/ci.yml
  apps/web/src/app/(main)/slides/page.tsx
Due: lint, typecheck

chore: remove root config files (moved to apps/web)
  tsconfig.json
  vitest.config.ts
Due: lint, typecheck

ci: add CLERK_SECRET_KEY to e2e tests
  .github/workflows/e2e.yml
Due: none

fix(ci): use monorepo test setup + turbo env passthrough
  packages/backend/convex/__tests__/admin.test.ts
  packages/backend/convex/__tests__/bookmarks.test.ts
  packages/backend/convex/__tests__/cascade.test.ts
  packages/backend/convex/__tests__/checkBudget.test.ts
  packages/backend/convex/__tests__/conversations.test.ts
  packages/backend/convex/__tests__/messages.test.ts
  packages/backend/convex/__tests__/modelSwitching.test.ts
  packages/backend/convex/__tests__/usage.test.ts
  turbo.json
Due: lint, typecheck

ci: extract CONVEX_DEPLOYMENT from deploy key for codegen
  .github/workflows/ci.yml
Due: none

chore: configure turborepo monorepo with workspace scripts
  .gitignore
  biome.json
  bun.lock
  package.json
Due: lint

docs: update mobile docs for monorepo structure
  docs/mobile/README.md
  docs/mobile/phase-0-prerequisites.md
  docs/mobile/phase-1-setup-auth.md
  docs/mobile/phase-2-core-chat.md
  docs/mobile/phase-3-files-voice.md
  docs/mobile/phase-4-projects.md
  docs/monorepo/README.md
  docs/monorepo/phase-1-workspace-foundation.md
  docs/monorepo/phase-2-convex-backend.md
  docs/monorepo/phase-3-shared-packages.md
  docs/monorepo/phase-4-mobile-app.md
  docs/monorepo/phase-5-cli-tui-raycast.md
Due: none

fix: exclude test files from convex typecheck
  packages/backend/tsconfig.json
Due: lint

fix: move vercel.json to apps/web and remove invalid rootDirectory
  apps/web/vercel.json
Due: lint

chore: update dependabot for monorepo structure
  .github/dependabot.yml
Due: none

feat: upgrade AI SDK to v6
  apps/web/package.json
  apps/web/src/lib/ai/operational-models.ts
  bun.lock
  packages/backend/convex/lib/prompts/systemBuilder.ts
  packages/backend/convex/tokens/counting.ts
  packages/backend/convex/tokens/service.ts
  packages/backend/package.json
Due: lint, typecheck

fix: regenerate bun.lock for CI compatibility
  bun.lock
Due: none

fix: regenerate bun.lock with bun 1.3.5
  bun.lock
Due: none

ci: remove E2E workflow (too slow, budget concern)
  .github/workflows/e2e.yml
Due: none

feat(chat): add Bible verse detection and hover preview
  apps/web/src/app/api/v1/bible/verse/route.ts
  apps/web/src/components/chat/BibleVerseLink.tsx
  apps/web/src/components/chat/BibleVersePopover.tsx
  apps/web/src/components/chat/MarkdownContent.tsx
  apps/web/src/hooks/useBibleVerse.ts
  apps/web/src/lib/bible/parser.ts
  apps/web/src/lib/bible/utils.ts
  apps/web/src/lib/bible/verseCache.ts
  apps/web/src/styles/prose.css
  bun.lock
  package.json
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/bible.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

refactor(chat): simplify scroll hooks for virtualized list
  apps/web/src/app/globals.css
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useAutoScroll.ts
  apps/web/src/hooks/useConversationScroll.ts
  apps/web/src/hooks/useHighlightScroll.ts
  apps/web/src/hooks/useOptimisticMessages.ts
Due: lint, typecheck

feat(mobile): add Expo app scaffold
  apps/mobile/.gitignore
  apps/mobile/app.json
  apps/mobile/app/(auth)/_layout.tsx
  apps/mobile/app/(auth)/sign-in.tsx
  apps/mobile/app/(auth)/sign-up.tsx
  apps/mobile/app/(drawer)/_layout.tsx
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/index.tsx
  apps/mobile/app/(drawer)/settings.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash-icon.png
  apps/mobile/babel.config.js
  apps/mobile/global.css
  apps/mobile/lib/clerk.ts
  apps/mobile/lib/convex.ts
  apps/mobile/lib/polyfills.ts
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/tailwind.config.js
  apps/mobile/tsconfig.json
  turbo.json
Due: lint, typecheck
