Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

feat(projects): auto-focus name input in Create/Edit dialogs
  apps/web/src/app/(main)/projects/page.tsx
  apps/web/src/components/projects/ProjectForm.tsx
Due: lint, typecheck

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

refactor(bookmarks): use remove-markdown library instead of custom implementation
  apps/web/src/components/bookmarks/BookmarkCard.tsx
  apps/web/src/components/bookmarks/BookmarksTable.tsx
  apps/web/src/lib/utils/markdown.ts
Due: lint, typecheck

fix(bookmarks): use Unicode quotes instead of HTML entities in JSX
  apps/web/src/components/bookmarks/BookmarkCard.tsx
Due: lint, typecheck

refactor(bookmarks): remove unnecessary useMemo from plainTextPreview
  apps/web/src/components/bookmarks/BookmarkCard.tsx
Due: lint, typecheck

fix: enable tailwindDirectives for biome 2.3.10
  biome.json
Due: lint

chore: update lockfile for biome upgrade
  bun.lock
Due: none

chore: bump mobile biome to 2.3.10 for compatibility
  apps/mobile/package.json
  bun.lock
Due: lint

fix(bookmarks): use safer React keys for tag lists
  apps/web/src/components/bookmarks/BookmarkCard.tsx
  apps/web/src/components/bookmarks/BookmarksTable.tsx
Due: lint, typecheck

chore: update lockfile
  bun.lock
Due: none

fix(landing): remove excessive horizontal padding from CTA section
  apps/web/src/app/page.tsx
Due: lint, typecheck

fix(landing): improve navigation visibility and mobile responsiveness
  apps/web/src/app/page.tsx
  apps/web/src/components/brand/Logo.tsx
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
