Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

feat(settings): wire hapticFeedbackEnabled to settings state
  apps/web/src/hooks/useUISettingsState.ts
Due: lint, typecheck

feat(settings): add haptic feedback toggle to UI settings
  apps/web/src/components/settings/UISettings.tsx
  apps/web/src/components/settings/sections/MessageBehaviorSection.tsx
Due: lint, typecheck

feat(chat): integrate haptic feedback on send, copy, stop, delete
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/MessageActions.tsx
  apps/web/src/components/chat/MessageActionsMenu.tsx
Due: lint, typecheck

test(haptic): add unit tests for haptic utility and hook
  apps/web/src/hooks/__tests__/useHaptic.test.ts
  apps/web/src/lib/__tests__/haptic.test.ts
Due: lint, typecheck

feat(backend): add hapticFeedbackEnabled preference
  packages/backend/convex/users/constants.ts
Due: lint, typecheck

feat(lib): add haptic feedback utility
  apps/web/src/lib/haptic.ts
Due: lint, typecheck

feat(hooks): add useHaptic hook
  apps/web/src/hooks/useHaptic.ts
Due: lint, typecheck

chore(main): release 1.4.0
  CHANGELOG.md
  package.json
Due: lint

docs: mark P5 haptic feedback as complete
  docs/openwebui/issues/P5-microinteractions/03-animations-haptics.md
Due: none

bd sync: 2026-01-19 07:59:48
  .beads/issues.jsonl
Due: none

ci: auto-update bun.lock for dependabot PRs
  .github/workflows/dependabot-lockfile.yml
Due: none

ci: auto-update bun.lock for Dependabot PRs (#185)
  .github/workflows/dependabot-lockfile.yml
Due: none

ci: skip lefthook in dependabot lockfile workflow
  .github/workflows/dependabot-lockfile.yml
Due: none

ci: skip lefthook in dependabot lockfile workflow (#186)
  .github/workflows/dependabot-lockfile.yml
Due: none

feat(a11y): add semantic HTML accessibility improvements
  .beads/issues.jsonl
  apps/web/src/app/(main)/chat/[conversationId]/page.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useAnnounce.ts
  apps/web/src/hooks/useMessageAnnouncer.ts
  docs/openwebui/issues/P6-accessibility/01-semantic-html.md
Due: lint, typecheck

bd sync: 2026-01-19 11:03:46
  .beads/issues.jsonl
Due: none

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
