Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix: [] load Postgres with pg in prod
  apps/web/src/app/api/v1/__tests__/env-bootstrap.auth.test.ts
  apps/web/src/lib/persistence/server.ts
  packages/persistence-postgres/__tests__/db.test.ts
  packages/persistence-postgres/src/db.ts
Due: lint, typecheck

fix: [] harden Postgres chat routes
  apps/web/src/app/api/v1/__tests__/files.auth.test.ts
  apps/web/src/app/api/v1/__tests__/messages-metadata.test.ts
  apps/web/src/app/api/v1/__tests__/settings-rewrite.auth.test.ts
  apps/web/src/app/api/v1/settings/api-key-availability/route.ts
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/ContextWindowIndicator.tsx
  apps/web/src/components/chat/__tests__/ChatMessage.test.tsx
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/hooks/__tests__/useApiKeyValidation.test.tsx
  apps/web/src/lib/hooks/useApiKeyValidation.ts
  apps/web/src/lib/persistence/messageMetadata.ts
  apps/web/src/lib/persistence/projects.ts
Due: lint, typecheck

fix: [] seed pending assistant messages
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/hooks/__tests__/useRestMessageSync.test.ts
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/hooks/mutations/__tests__/useSendMessage.test.ts
  apps/web/src/lib/hooks/mutations/useSendMessage.ts
Due: lint, typecheck

fix: [] fall back to Clerk cookies
  apps/web/src/lib/api/sdkClient.ts
  packages/api-client/package.json
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
Due: lint, typecheck

chore: [] ignore local env files
  .gitignore
Due: none

fix: [] disable voice fallback on API errors
  apps/web/src/lib/hooks/__tests__/useApiKeyValidation.test.tsx
  apps/web/src/lib/hooks/useApiKeyValidation.ts
Due: lint, typecheck

fix: [] address CI and review feedback
  apps/web/next.config.ts
  apps/web/src/app/api/v1/__tests__/settings-rewrite.auth.test.ts
  apps/web/src/app/api/v1/settings/api-key-availability/route.ts
  apps/web/src/hooks/__tests__/useRestMessageSync.test.ts
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/api/dal/__tests__/messages.attachments.test.ts
  apps/web/src/lib/hooks/__tests__/useApiKeyValidation.test.tsx
  apps/web/src/lib/hooks/useApiKeyValidation.ts
  packages/persistence-postgres/__tests__/db.test.ts
  packages/persistence-postgres/__tests__/users-preferences.test.ts
  packages/persistence-postgres/src/db.ts
  packages/persistence-postgres/src/repositories/users.ts
Due: lint, typecheck

fix: repair dependabot auto-merge trigger
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: [] reconcile Clerk users by email
  apps/web/src/app/api/v1/__tests__/conversations.auth.test.ts
  apps/web/src/app/api/webhooks/__tests__/clerk.reconcile.test.ts
  packages/persistence-postgres/__tests__/users-preferences.test.ts
  packages/persistence-postgres/src/repositories/users.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/api-client/CHANGELOG.md
Due: lint

fix: stabilize auto-route candidate score test
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
Due: lint

fix: stabilize reranking service test
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
Due: lint

security: block compromised axios versions in dependabot
  .github/dependabot.yml
Due: none

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

fix: restore admin users dashboard on postgres
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/(main)/admin/users/page.tsx
  apps/web/src/app/api/v1/admin/usage-summary/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/activity-stats/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/cost-by-feature/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/cost-by-type/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/daily-spend/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/role/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/spend-by-model/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/tier/route.ts
  apps/web/src/app/api/v1/admin/users/[id]/usage-summary/route.ts
  apps/web/src/app/api/v1/admin/users/route.ts
  apps/web/src/lib/api/dal/adminUsers.ts
  packages/persistence-postgres/drizzle/0012_admin_user_settings.sql
  packages/persistence-postgres/drizzle/meta/_journal.json
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

fix: address admin users review feedback
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/(main)/admin/users/page.tsx
  apps/web/src/app/(main)/admin/users/types.ts
  apps/web/src/app/api/v1/admin/users/[id]/route.ts
  apps/web/src/lib/api/dal/__tests__/adminUsers.test.ts
  apps/web/src/lib/api/dal/adminUsers.ts
  packages/persistence-postgres/drizzle/0012_admin_user_settings.sql
  packages/persistence-postgres/drizzle/meta/0012_snapshot.json
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

fix: clear remaining admin users CI issues
  .codacy.yaml
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/(main)/admin/users/types.ts
  apps/web/src/lib/api/dal/adminUsers.shared.ts
  apps/web/src/lib/api/dal/adminUsers.ts
Due: lint, typecheck

fix: clear residual codacy findings
  .codacy.yaml
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/(main)/admin/users/types.ts
  apps/web/src/lib/api/dal/adminUsers.shared.ts
Due: lint, typecheck

fix: constrain admin list envelope helper
  apps/web/src/app/(main)/admin/users/types.ts
Due: lint, typecheck

fix: satisfy codacy admin list typing
  apps/web/src/app/(main)/admin/users/types.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
