Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

ci: fix jsdom undici resolution
  bun.lock
  package.json
Due: lint

ci: expose staging secrets to smoke tests
  .github/workflows/ci.yml
Due: none

ci: keep smoke liveness on prs
  .github/workflows/ci.yml
  apps/web/e2e/smoke-staging.spec.ts
Due: lint, typecheck

ci: satisfy codacy quality gate
  apps/web/instrumentation.ts
  apps/web/src/app/__tests__/observability-config.test.ts
  apps/web/src/app/__tests__/trust-copy.test.ts
  apps/web/src/app/api/__tests__/code-execution.test.ts
  apps/web/src/lib/generation-v2/repository.ts
  packages/jobs/src/trigger/generate-image.test.ts
  scripts/check-backup-restore-drill.ts
Due: lint, typecheck

ci: clear remaining codacy annotations
  apps/web/instrumentation.ts
  apps/web/src/app/__tests__/observability-config.test.ts
  apps/web/src/app/__tests__/trust-copy.test.ts
  apps/web/src/types/raw.d.ts
  scripts/check-backup-restore-drill.ts
Due: lint, typecheck

ci: resolve codacy stale findings
  apps/web/instrumentation.ts
  apps/web/src/app/__tests__/observability-config.test.ts
  apps/web/src/app/__tests__/trust-copy.test.ts
  scripts/check-backup-restore-drill.ts
Due: lint, typecheck

ci: clear codacy async fingerprints
  apps/web/instrumentation.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/app/__tests__/observability-wiring.test.ts
  apps/web/src/app/__tests__/trust-copy-regressions.test.ts
Due: lint, typecheck

ci: suppress stale codacy instrumentation warning
  .codacy.yaml
Due: none

fix: resolve production hardening review comments
  apps/web/e2e/smoke-staging.spec.ts
  apps/web/instrumentation-client.ts
  apps/web/instrumentation.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/sentry.shared.ts
  apps/web/src/app/__tests__/observability-wiring.test.ts
  apps/web/src/app/api/__tests__/code-execution.test.ts
  apps/web/src/app/api/code-execution/route.ts
  apps/web/src/app/api/v1/actions/images/generate/route.ts
  apps/web/src/app/api/v1/actions/transcribe/route.ts
  apps/web/src/app/api/v1/memories/extract/route.ts
  apps/web/src/lib/api/action-jobs.ts
  apps/web/src/lib/api/dal/jobs.ts
  apps/web/src/lib/generation-v2/__tests__/service-byok.test.ts
  apps/web/src/lib/generation-v2/service.ts
  packages/jobs/src/trigger/extract-memories.test.ts
  packages/jobs/src/trigger/extract-memories.ts
  packages/jobs/src/trigger/generate-image.test.ts
  packages/jobs/src/trigger/generate-image.ts
  packages/jobs/src/trigger/transcribe.test.ts
  packages/jobs/src/trigger/transcribe.ts
Due: lint, typecheck

ci: scope dependency audit severity
  .github/workflows/ci.yml
Due: none

fix: load smoke model constant from source
  apps/web/e2e/smoke-staging.spec.ts
Due: lint, typecheck

ci: align trigger dev cli version
  .github/workflows/deploy-trigger.yml
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: lint

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/cli/CHANGELOG.md
  packages/jobs/CHANGELOG.md
  packages/shared/CHANGELOG.md
Due: lint

fix: AGENTS.md formatting for Codacy
  AGENTS.md
Due: none

fix: update vitest to 4.1.8 to resolve security vulnerabilities
  apps/mobile/package.json
  bun.lock
  bun.lockb
  packages/auto-router/package.json
  packages/chat-ui-core/package.json
  packages/cognitive-memory/package.json
  packages/jobs/package.json
  packages/streaming-core/package.json
Due: lint

test: update generation-maintenance test for new hourly cron pattern
  apps/mobile/ios/blahchat/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
  packages/jobs/src/trigger/generation-maintenance.test.ts
Due: lint, typecheck

fix: format iOS JSON files for biome lint
  apps/mobile/ios/blahchat/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
Due: lint

fix: bump apps/web to vitest 4.1.8 to fix jest-dom rejects.toThrow regression
  apps/web/package.json
  bun.lock
  bun.lockb
Due: lint

fix: override shell-quote to 1.8.4 to resolve critical audit vuln
  bun.lock
  bun.lockb
  package.json
Due: lint
