Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

feat: mark all expensive models as pro
  packages/ai/src/models.ts
Due: lint, typecheck

feat: refresh model catalog to latest, deprecate superseded models
  apps/web/src/lib/models/repository.ts
  apps/web/src/lib/models/transforms.ts
  packages/ai/src/models.ts
  packages/ai/src/operational-models.ts
Due: lint, typecheck

chore: tidy optional chaining and import spacing
  apps/mobile/app/(drawer)/notes/[id].tsx
  packages/ai/src/utils.ts
Due: lint, typecheck

fix: never drop terminal stream events in the seq guard
  apps/web/src/hooks/__tests__/useRestMessageSync.test.ts
  apps/web/src/hooks/useRestMessageSync.ts
Due: lint, typecheck

fix: never drop terminal stream events in the seq guard (#558)
  apps/web/src/hooks/__tests__/useRestMessageSync.test.ts
  apps/web/src/hooks/useRestMessageSync.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
Due: lint

fix: restore smooth streaming text reveal
  apps/web/src/components/chat/MarkdownContent.tsx
  apps/web/src/hooks/__tests__/useStreamBuffer.test.ts
  apps/web/src/hooks/useStreamBuffer.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: lint

fix: bound stuck generation recovery
  packages/jobs/src/trigger/recover-stuck-generations.test.ts
  packages/jobs/src/trigger/recover-stuck-generations.ts
  packages/jobs/src/trigger/recover-stuck-messages.test.ts
  packages/jobs/src/trigger/recover-stuck-messages.ts
  packages/persistence-postgres/drizzle/0021_confused_doctor_strange.sql
  packages/persistence-postgres/drizzle/meta/0021_snapshot.json
  packages/persistence-postgres/drizzle/meta/_journal.json
  packages/persistence-postgres/src/schema.ts
Due: lint, typecheck

docs: remove bd workflow
  AGENTS.md
Due: none

docs: add outstanding work audit report
  plans/audit-2026-06-19/01-outstanding-work.md
Due: none

docs: add half-finished features audit report
  plans/audit-2026-06-19/02-half-finished-features.md
Due: none

docs: add bugs and vulnerabilities audit report
  plans/audit-2026-06-19/03-bugs-vulnerabilities.md
Due: none

docs: add concurrency audit report
  plans/audit-2026-06-19/04-concurrency.md
Due: none

docs: add code quality audit report
  plans/audit-2026-06-19/05-code-quality.md
Due: none

docs: add consolidated audit backlog
  plans/audit-2026-06-19/README.md
Due: none

chore: patch vulnerable tooling dependencies
  bun.lock
  package.json
Due: lint

fix: harden stuck generation recovery
  packages/jobs/src/trigger/recover-stuck-generations.test.ts
  packages/jobs/src/trigger/recover-stuck-generations.ts
  packages/persistence-postgres/drizzle/0021_confused_doctor_strange.sql
  packages/persistence-postgres/drizzle/meta/0021_snapshot.json
  packages/persistence-postgres/src/schema.ts
Due: lint, typecheck

fix: bound stuck generation recovery
  AGENTS.md
  bun.lock
  package.json
  packages/jobs/src/trigger/recover-stuck-generations.test.ts
  packages/jobs/src/trigger/recover-stuck-generations.ts
  packages/jobs/src/trigger/recover-stuck-messages.test.ts
  packages/jobs/src/trigger/recover-stuck-messages.ts
  packages/persistence-postgres/drizzle/0021_confused_doctor_strange.sql
  packages/persistence-postgres/drizzle/meta/0021_snapshot.json
  packages/persistence-postgres/drizzle/meta/_journal.json
  packages/persistence-postgres/src/schema.ts
Due: lint, typecheck

docs: scope generation and page skills to blah.chat
  .agents/skills/nextjs-page-scaffolder/LICENSE.txt
  .agents/skills/nextjs-page-scaffolder/SKILL.md
  .agents/skills/nextjs-page-scaffolder/references/complete-example.md
  .agents/skills/nextjs-page-scaffolder/references/example.md
  .agents/skills/nextjs-page-scaffolder/references/legacy-convex.md
  .agents/skills/resilient-generation-flow/LICENSE.txt
  .agents/skills/resilient-generation-flow/SKILL.md
  .agents/skills/resilient-generation-flow/references/architecture-diagram.md
  .agents/skills/resilient-generation-flow/references/debugging-playbook.md
  .agents/skills/resilient-generation-flow/references/example.md
  .agents/skills/resilient-generation-flow/references/legacy-convex.md
  .agents/skills/resilient-generation-flow/references/status-transitions.md
  .agents/skills/resilient-generation-flow/references/trace-checklist.md
Due: none

docs: make AGENTS.md the single agent instruction file
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/architecture/api-hybrid.md
  docs/features/shared-conversations.md
Due: none

chore: ignore throwaway tmp scripts and sync expo asset catalogs
  .gitignore
  apps/mobile/ios/blahchat/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
Due: lint
