Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix: fix dependabot auto-merge pipeline
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-lockfile.yml
Due: none

fix: use PR author instead of actor for dependabot checks
  .github/workflows/ci.yml
  .github/workflows/dependabot-lockfile.yml
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

chore: release main (#407)
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

feat: add trigger.dev enqueueTask helper and HTTP webhook routes
  packages/backend/convex/http.ts
  packages/backend/convex/lib/trigger.ts
Due: lint, typecheck

feat: add trigger.dev task definitions for tiers 1-3
  packages/jobs/src/trigger/analyze-model-fit.ts
  packages/jobs/src/trigger/auto-triage-feedback.ts
  packages/jobs/src/trigger/check-health.ts
  packages/jobs/src/trigger/enrich-source-metadata.ts
  packages/jobs/src/trigger/extract-memories.ts
  packages/jobs/src/trigger/extract-text.ts
  packages/jobs/src/trigger/generate-image.ts
  packages/jobs/src/trigger/generate-title.ts
  packages/jobs/src/trigger/process-source.ts
Due: lint, typecheck

refactor: swap direct action calls to trigger.dev enqueueTask
  packages/backend/convex/chat.ts
  packages/backend/convex/conversations/actions.ts
  packages/backend/convex/crons.ts
  packages/backend/convex/feedback.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/knowledgeBank/index.ts
  packages/backend/convex/memories.ts
  packages/backend/convex/memories/extract.ts
  packages/backend/convex/messages/attachments.ts
  packages/backend/convex/migrations/012_rechunk_knowledge.ts
  packages/backend/convex/sources/operations_actions.ts
Due: lint, typecheck

feat: add generateImageAction public wrapper delegating to trigger.dev
  apps/web/src/components/chat/ImageGenerateButton.tsx
  packages/backend/convex/generation/image.ts
Due: lint, typecheck

chore: export trigger task types from jobs package
  packages/jobs/src/index.ts
Due: lint, typecheck

ci: add GitHub Actions workflow for trigger.dev deploy
  .github/workflows/deploy-trigger.yml
Due: none

fix: address review feedback and CI failures
  packages/backend/convex/http.ts
  packages/backend/convex/lib/trigger.ts
  packages/backend/convex/sources/operations_actions.ts
  packages/jobs/src/trigger/analyze-model-fit.ts
  packages/jobs/src/trigger/auto-triage-feedback.ts
  packages/jobs/src/trigger/check-health.ts
  packages/jobs/src/trigger/embed-file.ts
  packages/jobs/src/trigger/enrich-source-metadata.ts
  packages/jobs/src/trigger/extract-memories.ts
  packages/jobs/src/trigger/extract-text.ts
  packages/jobs/src/trigger/generate-image.ts
  packages/jobs/src/trigger/generate-title.ts
  packages/jobs/src/trigger/process-source.ts
  packages/jobs/src/trigger/transcribe.ts
  packages/jobs/src/trigger/utils.ts
  packages/jobs/trigger.config.ts
Due: lint, typecheck

fix: commit lockfile and package.json changes for trigger.dev deps
  bun.lock
  package.json
  packages/jobs/package.json
Due: lint

fix: add fetch timeout to trigger utils and forward jobId in embed-file
  packages/jobs/src/trigger/embed-file.ts
  packages/jobs/src/trigger/utils.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

chore: remove stray changelog heading from jobs package
  packages/jobs/CHANGELOG.md
Due: none

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

feat: migrate chat message actions
  apps/web/src/app/api/v1/__tests__/message-update.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/messages/[id]/route.ts
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageActions.tsx
  apps/web/src/components/chat/MessageActionsMenu.tsx
  apps/web/src/components/chat/MessageActionsMenuMobile.tsx
  apps/web/src/hooks/useMessageKeyboardShortcuts.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
  apps/web/src/lib/generation-v2/repository.ts
Due: lint, typecheck

feat: migrate compaction controls
  apps/web/src/app/(main)/chat/[conversationId]/page.tsx
  apps/web/src/app/api/v1/__tests__/conversation-compact.test.ts
  apps/web/src/app/api/v1/conversations/[id]/compact/route.ts
  apps/web/src/components/chat/ConversationHeaderMenu.tsx
  apps/web/src/hooks/__tests__/useChatModelSelection.test.ts
  apps/web/src/hooks/useChatModelSelection.ts
  apps/web/src/lib/api/dal/conversations.ts
  apps/web/src/lib/conversations/__tests__/compaction.test.ts
  apps/web/src/lib/conversations/compaction.ts
Due: lint, typecheck

feat: migrate chat attachments
  apps/web/src/app/api/v1/__tests__/files.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/files/upload-url/route.ts
  apps/web/src/components/chat/AttachmentPreview.tsx
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/FileUpload.tsx
  apps/web/src/components/chat/VoiceInput.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/api/dal/__tests__/messages.attachments.test.ts
  apps/web/src/lib/api/dal/files.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/hooks/mutations/useSendMessage.ts
  apps/web/src/lib/persistence/mappers.ts
  apps/web/src/lib/persistence/storage.ts
  apps/web/src/types/optimistic.ts
  packages/persistence-postgres/__tests__/attachments.test.ts
  packages/persistence-postgres/src/storage.ts
Due: lint, typecheck

refactor: drop cached chat convex reads
  apps/web/src/components/chat/BookmarkButton.tsx
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageActions.tsx
  apps/web/src/components/chat/__tests__/ChatMessage.test.tsx
Due: lint, typecheck

refactor: read composer state from cache
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/lib/hooks/mutations/useSendMessage.ts
Due: lint, typecheck

feat: migrate comparison flows
  apps/web/src/app/api/v1/__tests__/comparisons.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/comparisons/[comparisonGroupId]/consolidate/route.ts
  apps/web/src/app/api/v1/comparisons/[comparisonGroupId]/vote/route.ts
  apps/web/src/app/api/v1/messages/[id]/original-responses/route.ts
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/ComparisonPanel.tsx
  apps/web/src/components/chat/ComparisonView.tsx
  apps/web/src/components/chat/ConsolidateDialog.tsx
  apps/web/src/components/chat/MessageConsolidationToggle.tsx
  apps/web/src/hooks/__tests__/useComparisonHandlers.test.ts
  apps/web/src/hooks/useComparisonHandlers.ts
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/api/dal/comparisons.ts
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
  apps/web/src/lib/persistence/mappers.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

refactor: move preference hooks to rest
  apps/web/src/hooks/__tests__/useUserPreference.test.tsx
  apps/web/src/hooks/useFeatureToggles.ts
  apps/web/src/hooks/useUserPreference.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
