Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

feat(integrations): add Composio integration for external service tools
  apps/web/src/app/(main)/settings/page.tsx
  apps/web/src/app/api/composio/callback/route.ts
  apps/web/src/components/settings/ComposioSettings.tsx
  apps/web/src/components/settings/composio/IntegrationCard.tsx
  apps/web/src/hooks/useComposioOAuth.ts
  bun.lock
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/composio/connections.ts
  packages/backend/convex/composio/constants.ts
  packages/backend/convex/composio/oauth.ts
  packages/backend/convex/composio/tools.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/generation/tools.ts
  packages/backend/convex/schema.ts
  packages/backend/package.json
Due: lint, typecheck

refactor(composio): remove debug logging for production
  packages/backend/convex/composio/tools.ts
  packages/backend/convex/generation/tools.ts
Due: lint, typecheck

fix(ui): improve tool call display and integrations list
  apps/web/src/components/chat/InlineToolCallContent.tsx
  apps/web/src/components/settings/ComposioSettings.tsx
Due: lint, typecheck

refactor(composio): improve integration UI with clearer states
  apps/web/src/components/settings/ComposioSettings.tsx
Due: lint, typecheck

refactor: clarify internal vs external service tools
  packages/backend/convex/ai/tools/search/searchAll.ts
  packages/backend/convex/ai/tools/search/searchTasks.ts
  packages/backend/convex/knowledgeBank/process.ts
  packages/backend/convex/knowledgeBank/search.ts
Due: lint, typecheck

fix(composio): preserve active status during re-auth to prevent tool access loss
  packages/backend/convex/composio/connections.ts
Due: lint, typecheck

fix(composio): fix Convex runtime and Composio SDK API issues
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/composio/connections.ts
  packages/backend/convex/composio/oauth.ts
Due: lint, typecheck

feat(admin): make max active integrations configurable
  apps/web/src/components/settings/admin/AdminLimitsSettings.tsx
  packages/backend/convex/adminSettings.ts
  packages/backend/convex/composio/connections.ts
  packages/backend/convex/composio/constants.ts
  packages/backend/convex/composio/oauth.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/schema/admin.ts
Due: lint, typecheck

fix(security): address critical OAuth vulnerabilities
  apps/web/src/app/api/composio/callback/route.ts
  apps/web/src/hooks/useComposioOAuth.ts
  packages/backend/convex/composio/connections.ts
  packages/backend/convex/composio/oauth.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

feat(admin): replace router model select with combobox
  apps/web/package.json
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/combobox.tsx
  apps/web/src/components/ui/input-group.tsx
  bun.lock
Due: lint, typecheck

feat(admin): use select dropdown for router model setting
  apps/web/src/app/(main)/admin/auto-router/page.tsx
Due: lint, typecheck

fix(admin): fix page overflow and scrolling issues
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/app/(main)/admin/models/[id]/page.tsx
  apps/web/src/app/(main)/admin/models/page.tsx
  apps/web/src/app/(main)/admin/usage/page.tsx
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/(main)/admin/users/page.tsx
Due: lint, typecheck

fix(composio): prioritize connectedAccountId param, add verification note
  apps/web/src/app/api/composio/callback/route.ts
Due: lint, typecheck

docs: clarify re-connection check comment
  packages/backend/convex/composio/oauth.ts
Due: lint, typecheck

feat(composio): add integrations indicator in chat input
  apps/web/src/components/chat/InputBottomBar.tsx
  apps/web/src/components/chat/IntegrationsIndicator.tsx
Due: lint, typecheck

fix(admin): wrap ScrollArea properly for correct overflow handling
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/app/(main)/admin/models/[id]/page.tsx
Due: lint, typecheck

fix(security): strengthen CSRF and XSS protections
  apps/web/src/app/api/composio/callback/route.ts
Due: lint, typecheck

chore(main): release 1.14.0
  CHANGELOG.md
  package.json
Due: lint

task: add bidirectional model seed sync task
  .beads/issues.jsonl
Due: none

task: simplify to CLI approach for model management
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-27 17:26:45
  .beads/issues.jsonl
Due: none

feat(models): add CLI for model management
  .claude/skills/model-management/LICENSE.txt
  .claude/skills/model-management/SKILL.md
  CLAUDE.md
  package.json
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/models/cli.ts
  scripts/model-cli.ts
Due: lint, typecheck

fix(models): run convex CLI from backend directory
  scripts/model-cli.ts
Due: lint, typecheck

feat(models): add Kimi K2.5 to static config for UI
  apps/web/src/lib/ai/models.ts
Due: lint, typecheck

feat(models): migrate UI from static MODEL_CONFIG to database
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/components/chat/QuickModelSwitcher.tsx
  apps/web/src/components/settings/DefaultModelSettings.tsx
  apps/web/src/hooks/useChatModel.ts
  apps/web/src/hooks/useChatModelSelection.ts
  apps/web/src/lib/ai/utils.ts
  apps/web/src/lib/models/repository.ts
Due: lint, typecheck

fix: address CI failures and PR review comments
  apps/web/src/lib/models/repository.ts
  packages/backend/convex/models/cli.ts
Due: lint, typecheck

fix(composio): reduce to 10 OAuth integrations for reliability
  .env.local.example
  packages/backend/convex/composio/constants.ts
Due: lint, typecheck

chore(main): release 1.15.0
  CHANGELOG.md
  package.json
Due: lint

fix(composio): include CSRF state in OAuth callback URL
  packages/backend/convex/composio/oauth.ts
Due: lint, typecheck

chore(main): release 1.15.1
  CHANGELOG.md
  package.json
Due: lint
