Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run tsc --noEmit

fix(ci): resolve failing jobs in monorepo structure
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  apps/web/playwright.config.ts
Due: lint, typecheck

fix(ci): use monorepo test setup + turbo env passthrough
  packages/backend/convex/__tests__/admin.test.ts
  packages/backend/convex/__tests__/bookmarks.test.ts
  packages/backend/convex/__tests__/cascade.test.ts
  packages/backend/convex/__tests__/checkBudget.test.ts
  packages/backend/convex/__tests__/conversations.test.ts
  packages/backend/convex/__tests__/messages.test.ts
  packages/backend/convex/__tests__/modelSwitching.test.ts
  packages/backend/convex/__tests__/usage.test.ts
  turbo.json
Due: lint, typecheck

fix(ci): properly filter process.env for playwright
  apps/web/playwright.config.ts
Due: lint, typecheck

fix(ci): remove redundant build dep from test:e2e
  turbo.json
Due: lint

fix: lint errors in slides page
  apps/web/src/app/(main)/slides/page.tsx
Due: lint, typecheck

fix: lint errors - import ordering and unused variable
  apps/web/src/app/(main)/bookmarks/page.tsx
  apps/web/src/app/(main)/slides/new/page.tsx
  apps/web/src/app/api/export/route.ts
  apps/web/src/app/share/[shareId]/page.tsx
  apps/web/src/components/bookmarks/BookmarkCard.tsx
  apps/web/src/components/chat/BookmarkButton.tsx
  apps/web/src/components/chat/ContextWindowIndicator.tsx
  apps/web/src/components/chat/ImageGenerateButton.tsx
  apps/web/src/components/chat/ShareDialog.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/components/notes/NoteShareDialog.tsx
  apps/web/src/lib/command-palette-actions.ts
Due: lint, typecheck

chore: add Vercel IaC configuration for monorepo deployment
  apps/web/.vercelignore
  vercel.json
Due: lint

ci: add staging environment to test job for convex codegen
  .github/workflows/ci.yml
Due: none

chore: add shared packages and turborepo config
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/ai/tsconfig.json
  packages/config/package.json
  packages/config/tsconfig.base.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  turbo.json
Due: lint, typecheck

fix(ci): use local bun script for convex typecheck
  .github/workflows/ci.yml
  apps/web/src/app/(main)/slides/page.tsx
Due: lint, typecheck

docs: update mobile docs for monorepo structure
  docs/mobile/README.md
  docs/mobile/phase-0-prerequisites.md
  docs/mobile/phase-1-setup-auth.md
  docs/mobile/phase-2-core-chat.md
  docs/mobile/phase-3-files-voice.md
  docs/mobile/phase-4-projects.md
  docs/monorepo/README.md
  docs/monorepo/phase-1-workspace-foundation.md
  docs/monorepo/phase-2-convex-backend.md
  docs/monorepo/phase-3-shared-packages.md
  docs/monorepo/phase-4-mobile-app.md
  docs/monorepo/phase-5-cli-tui-raycast.md
Due: none

ci: extract CONVEX_DEPLOYMENT from deploy key for codegen
  .github/workflows/ci.yml
Due: none

chore: remove root config files (moved to apps/web)
  tsconfig.json
  vitest.config.ts
Due: lint, typecheck

fix(ci): run convex typecheck from packages/backend directory
  .github/workflows/ci.yml
Due: none

fix: exclude test files from convex typecheck
  packages/backend/tsconfig.json
Due: lint

fix: move vercel.json to apps/web and remove invalid rootDirectory
  apps/web/vercel.json
Due: lint

ci: add CLERK_SECRET_KEY to e2e tests
  .github/workflows/e2e.yml
Due: none

fix(ci): separate backend tests and generate convex types before tests
  .github/workflows/ci.yml
  apps/web/vitest.config.ts
  bun.lock
  packages/backend/convex/lib/prompts/operational/tagExtraction.ts
  packages/backend/package.json
  packages/backend/vitest.config.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
