Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix: add null guard instead of type assertion for stableCode
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

fix: capture stableCode in closure to prevent async race conditions
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

fix(chat): debounce mermaid rendering to prevent streaming errors
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

feat(chat): add web worker for markdown parsing
  apps/web/src/components/chat/MarkdownContent.tsx
  apps/web/src/hooks/__tests__/useWorkerMarkdown.test.ts
  apps/web/src/hooks/useWorkerMarkdown.ts
  apps/web/src/lib/markdown/__tests__/cache.test.ts
  apps/web/src/lib/markdown/__tests__/worker-manager.test.ts
  apps/web/src/lib/markdown/cache.ts
  apps/web/src/lib/markdown/index.ts
  apps/web/src/lib/markdown/worker-manager.ts
  apps/web/src/lib/markdown/worker.ts
Due: lint, typecheck

fix(security): move DOMPurify sanitization to main thread
  apps/web/src/hooks/useWorkerMarkdown.ts
  apps/web/src/lib/markdown/worker.ts
Due: lint, typecheck

docs: mark P8 web worker markdown as complete
  docs/openwebui/issues/P8-performance/03-worker-markdown.md
Due: none

fix(ui): prevent iOS Safari auto-zoom on input focus
  apps/web/src/app/globals.css
Due: none

chore(main): release 1.8.0
  CHANGELOG.md
  package.json
Due: lint

fix(memory): prevent timer leaks in TTS and copy handlers
  apps/web/src/components/chat/MathBlock.tsx
  apps/web/src/hooks/useMathCopyButtons.ts
  apps/web/src/hooks/useSafeTimeout.ts
  apps/web/src/hooks/useTTSAudioPlayer.ts
  apps/web/src/hooks/useTimeout.ts
Due: lint, typecheck

chore(main): release 1.8.1
  CHANGELOG.md
  package.json
Due: lint

fix(chat): improve mobile UX for input focus and message display
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageLoadingState.tsx
Due: lint, typecheck

chore(main): release 1.8.2
  CHANGELOG.md
  package.json
Due: lint

fix(mobile): resolve React version mismatch and remove Moti
  apps/mobile/package.json
  bun.lock
Due: lint

refactor(mobile): replace MotiView with Reanimated
  apps/mobile/components/chat/MessageList.tsx
  apps/mobile/components/ui/BentoCard.tsx
  apps/mobile/components/ui/FluidButton.tsx
Due: lint, typecheck

chore(mobile): regenerate iOS build files
  apps/mobile/ios/Podfile.lock
  apps/mobile/ios/blahchat.xcodeproj/project.pbxproj
  apps/mobile/ios/blahchat/Info.plist
Due: none

feat(backend): add enableModelRecommendations user preference
  packages/backend/convex/chat.ts
  packages/backend/convex/users.ts
  packages/backend/convex/users/constants.ts
  packages/backend/convex/users/preferences.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
