Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

feat(chat): add Safari fallback for scroll anchoring
  apps/web/src/app/globals.css
  apps/web/src/components/chat/MessageListSkeleton.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useScrollAnchor.ts
Due: lint, typecheck

fix: address PR review feedback
  .beads/daemon-error
  apps/web/src/hooks/useScrollAnchor.ts
Due: lint, typecheck

chore: remove .beads/daemon-error from tracking
  .beads/daemon-error
  .gitignore
Due: none

fix: increase scroll threshold, improve type safety
  apps/web/src/hooks/useScrollAnchor.ts
Due: lint, typecheck

bd sync: 2026-01-18 13:10:22
  .beads/issues.jsonl
Due: none

chore(main): release 1.0.0
  CHANGELOG.md
  package.json
Due: lint

fix: add Bun setup to Vercel deploy workflow
  .github/workflows/release.yml
Due: none

chore(main): release 1.0.1
  CHANGELOG.md
  package.json
Due: lint

feat: persist unsent message drafts in sessionStorage
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/search/BulkActionToolbar.tsx
  apps/web/src/lib/hooks/mutations/useDeleteConversation.ts
Due: lint, typecheck

fix: always set input on conversation switch to clear stale text
  apps/web/src/components/chat/ChatInput.tsx
Due: lint, typecheck

bd sync: 2026-01-18 14:41:21
  .beads/issues.jsonl
Due: none

fix(input): prevent Enter submission during IME composition
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ExpandedInputDialog.tsx
  apps/web/src/components/sidebar/RenameDialog.tsx
  apps/web/src/hooks/useChatInputKeyboard.ts
Due: lint, typecheck

fix: remove underscore prefix from isComposing variable
  apps/web/src/components/chat/ChatInput.tsx
Due: lint, typecheck
