Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(mobile): add trailing newlines to iOS asset JSON files
  apps/mobile/ios/blahchat/Images.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/Contents.json
Due: lint

fix(mobile): format useStarterSuggestions for biome compliance
  apps/mobile/lib/hooks/useStarterSuggestions.ts
Due: lint, typecheck

fix(web): sort imports and format useStarterSuggestions
  apps/web/src/hooks/useStarterSuggestions.ts
Due: lint, typecheck

fix(mobile): add Clerk polyfills and offline resource cache
  apps/mobile/app.config.js
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/convex.ts
  apps/mobile/lib/polyfills.ts
Due: lint, typecheck

style(backend): format chatSuggestions, hybridSearch, and extract
  packages/backend/convex/__tests__/chatSuggestions.test.ts
  packages/backend/convex/chatSuggestions.ts
  packages/backend/convex/conversations/hybridSearch.ts
  packages/backend/convex/memories/extract.ts
Due: lint, typecheck

fix(mobile): resolve TestFlight login connection failure (#348)
  apps/mobile/app.config.js
  apps/mobile/app.json
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/convex.ts
  apps/mobile/lib/polyfills.ts
  packages/backend/convex/__tests__/chatSuggestions.test.ts
  packages/backend/convex/chatSuggestions.ts
  packages/backend/convex/conversations/hybridSearch.ts
  packages/backend/convex/memories/extract.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

Update apps/desktop/CHANGELOG.md
  apps/desktop/CHANGELOG.md
Due: none

fix(mobile): add diagnostic overlay for TestFlight connection failure
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/clerk.ts
  apps/mobile/lib/runtimeConfig.ts
Due: lint, typecheck

fix(mobile): resolve Clerk isLoaded hang on TestFlight
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/clerk.ts
Due: lint, typecheck

Update apps/mobile/lib/clerk.ts
  apps/mobile/lib/clerk.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

fix(mobile): polyfill navigator.onLine for Clerk init + restore resourceCache
  apps/mobile/app/_layout.tsx
  apps/mobile/lib/polyfills.ts
Due: lint, typecheck

chore: release main (#363)
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

fix(mobile): redesign auth screens + fix sign-in not working
  apps/mobile/app/(auth)/sign-in.tsx
  apps/mobile/app/(auth)/sign-up.tsx
Due: lint, typecheck

fix(mobile): handle email verification step during sign-in
  apps/mobile/app/(auth)/sign-in.tsx
Due: lint, typecheck

feat(auto-router): add classifier-based model router
  packages/auto-router/package.json
  packages/auto-router/src/bin-selector.test.ts
  packages/auto-router/src/bin-selector.ts
  packages/auto-router/src/bins.ts
  packages/auto-router/src/classifier.test.ts
  packages/auto-router/src/classifier.ts
  packages/auto-router/src/examples.ts
  packages/auto-router/src/hard-rules.test.ts
  packages/auto-router/src/hard-rules.ts
  packages/auto-router/src/index.ts
  packages/auto-router/src/types.ts
  packages/backend/convex/ai/autoRouter.ts
  packages/backend/convex/ai/classifierRouter.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/messages.ts
  packages/backend/convex/routing/admin.ts
  packages/backend/convex/routing/feedback.ts
  packages/backend/convex/routing/mutations.ts
  packages/backend/convex/routing/seed.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/schema/index.ts
  packages/backend/convex/schema/models.ts
  packages/backend/convex/schema/routing.ts
  scripts/compute-routing-embeddings.ts
Due: lint, typecheck

chore: add humanizer skill for rewriting AI-generated prose
  .agents/skills/humanizer/SKILL.md
Due: none

fix: address code review feedback and CI failures
  packages/auto-router/src/bin-selector.ts
  packages/backend/convex/ai/autoRouter.ts
  packages/backend/convex/ai/classifierRouter.ts
  packages/backend/convex/routing/admin.ts
  packages/backend/convex/routing/feedback.ts
Due: lint, typecheck

feat(admin): add router mode selector and classifier settings to dashboard
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  packages/backend/convex/models/mutations.ts
Due: lint, typecheck

feat(admin): add last-active tracking and daily activity log
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/(main)/admin/users/page.tsx
  packages/backend/convex/admin.ts
  packages/backend/convex/usage/queries.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
