Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

ci(smoke): install playwright browsers from apps/web
  .github/workflows/ci.yml
Due: none

test: align existing route + ChatInput tests with new generation runtime
  apps/web/src/app/api/v1/__tests__/conversation-tree.auth.test.ts
  apps/web/src/app/api/v1/__tests__/files.auth.test.ts
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
Due: lint, typecheck

feat(byok): wire user gateway key into generation and stamp usage
  apps/web/src/lib/generation-v2/__tests__/service-byok.test.ts
  apps/web/src/lib/generation-v2/provider.ts
  apps/web/src/lib/generation-v2/runtime.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
  apps/web/src/lib/logger.ts
  packages/ai/src/index.ts
  packages/ai/src/registry.ts
Due: lint, typecheck

refactor: address Codacy complexity warnings
  apps/web/src/app/api/internal/generations/[id]/process/route.ts
  apps/web/src/lib/generation-v2/service-routing.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/persistence/byok-resolver.ts
Due: lint, typecheck

docs: align README + SELF_HOSTING with current Postgres/Redis/R2/Trigger stack
  README.md
  SELF_HOSTING.md
  docs/operations/production-env-checklist.md
Due: none

fix(generation): atomic claim prevents duplicate processing on race
  apps/web/src/lib/generation-v2/__tests__/service-idempotency.test.ts
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/generation-v2/service.ts
Due: lint, typecheck

fix(generation): make service.process idempotent for terminal status
  apps/web/src/lib/generation-v2/__tests__/service-idempotency.test.ts
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
Due: lint, typecheck

feat(byok): add decryptCredential and per-user key resolver
  apps/web/src/lib/persistence/__tests__/byok-resolver.test.ts
  apps/web/src/lib/persistence/byok-resolver.ts
  apps/web/src/lib/security/__tests__/byok.test.ts
  apps/web/src/lib/security/byok.ts
Due: lint, typecheck

feat(jobs): processGenerationTask drives generation via internal endpoint
  packages/jobs/src/trigger/process-generation.test.ts
  packages/jobs/src/trigger/process-generation.ts
Due: lint, typecheck

fix(model-picker): responsive layout fits mobile viewports
  apps/web/src/components/chat/CategorySidebar.tsx
  apps/web/src/components/chat/QuickModelSwitcher.tsx
Due: lint, typecheck

feat(messages): partial unique index on (conversation_id, client_message_id)
  apps/web/src/lib/generation-v2/__tests__/repository-idempotency.test.ts
  packages/persistence-postgres/drizzle/0018_messages_client_id_unique.sql
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

feat(generation): write usage_records with calculated cost on completion
  apps/web/src/lib/generation-v2/__tests__/service-cost-tracking.test.ts
  apps/web/src/lib/generation-v2/provider.ts
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
  packages/ai/src/index.ts
Due: lint, typecheck

ci(e2e): add required staging-smoke gate to CI
  .github/workflows/ci.yml
  apps/web/e2e/fixtures/staging.ts
  apps/web/e2e/smoke-staging.spec.ts
Due: lint, typecheck

feat(jobs): recoverStuckGenerationsTask cron re-enqueues stale requests
  packages/jobs/src/trigger/recover-stuck-generations.test.ts
  packages/jobs/src/trigger/recover-stuck-generations.ts
Due: lint, typecheck

refactor(routing): hide null-coalescing in nullable() helper
  apps/web/src/lib/generation-v2/service-routing.ts
Due: lint, typecheck

feat(byod): add getChatDbForUser resolver fronted by primary fallback
  apps/web/src/lib/persistence/__tests__/user-db.test.ts
  apps/web/src/lib/persistence/user-db.ts
  packages/persistence-postgres/src/byod/resolver.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

test(generation): cover failure-path and cached/reasoning cost cases
  apps/web/src/lib/generation-v2/__tests__/service-cost-tracking.test.ts
Due: lint, typecheck

refactor(routes): enqueue durable processing via Trigger instead of after()
  apps/web/src/app/api/v1/__tests__/generations.auth.test.ts
  apps/web/src/app/api/v1/__tests__/generations.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/conversations/[id]/messages/route.ts
  apps/web/src/app/api/v1/generations/route.ts
  apps/web/src/lib/generation-v2/runtime.ts
Due: lint, typecheck

docs: add v1 launch readiness assessment
  docs/architecture/README.md
  docs/architecture/v1-launch-readiness-assessment.md
Due: none

ci(smoke): drop staging assumption — auth-free health probe against prod
  .github/workflows/ci.yml
  apps/web/e2e/fixtures/staging.ts
  apps/web/e2e/smoke-staging.spec.ts
  docs/operations/production-env-checklist.md
Due: lint, typecheck

feat(generation): createRequest returns existing bundle for duplicate clientMessageId
  apps/web/src/lib/generation-v2/__tests__/repository-idempotency.test.ts
  apps/web/src/lib/generation-v2/repository.ts
Due: lint, typecheck

test(health): align health route test with new per-component shape
  apps/web/src/app/api/v1/__tests__/health.test.ts
Due: lint, typecheck

ci: smoke uses dedicated playwright config without local webServer + final Codacy split
  .github/workflows/ci.yml
  apps/web/playwright.config.ts
  apps/web/playwright.smoke.config.ts
  apps/web/src/lib/generation-v2/service-routing.ts
Due: lint, typecheck

feat: close Phase 4 BYOD gap and extend BYOK to OpenRouter
  apps/web/src/app/api/v1/__tests__/byod-preview-gate.test.ts
  apps/web/src/app/api/v1/byod/route.ts
  apps/web/src/lib/generation-v2/__tests__/service-byok.test.ts
  apps/web/src/lib/generation-v2/provider.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
  docs/operations/production-env-checklist.md
  packages/ai/src/registry.ts
Due: lint, typecheck

ci(release): build before migrate, deploy prebuilt artifact afterwards
  .github/workflows/release.yml
  docs/operations/migration-policy.md
Due: none

fix(chat-input): keep send button disabled until the mutation resolves
  apps/web/src/components/chat/ChatInput.tsx
Due: lint, typecheck

feat(generation): add internal endpoint for durable processing
  apps/web/src/app/api/internal/__tests__/process-generation.test.ts
  apps/web/src/app/api/internal/generations/[id]/process/route.ts
Due: lint, typecheck

feat(health): per-component status + smoke tolerates the rollover
  apps/web/e2e/smoke-staging.spec.ts
  apps/web/src/app/api/v1/health/route.ts
  apps/web/src/lib/persistence/health.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

ci: unblock dependabot auto-merge
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

style: apply biome 2.4.14 export-sort
  apps/web/src/components/ui/accordion.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  apps/web/src/components/ui/alert.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/collapsible.tsx
  apps/web/src/components/ui/combobox.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/hover-card.tsx
  apps/web/src/components/ui/input-group.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/components/ui/resizable.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/ui/tooltip.tsx
Due: lint, typecheck

chore(api-client): bump to 0.7.2 for openapi-fetch upgrade
  packages/api-client/package.json
Due: lint

chore: bump react to 19.2.6 to match react-dom
  apps/mobile/package.json
  apps/web/package.json
Due: lint

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
