Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

ci: [] remove Convex from CI/CD pipelines and update lockfile
  .github/workflows/ci.yml
  .github/workflows/deploy-trigger.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
  bun.lock
  package.json
Due: lint

fix: [] increase PGlite test timeout for CI
  packages/persistence-postgres/vitest.config.ts
Due: lint, typecheck

fix: [] increase test timeouts for CI across PGlite packages
  packages/jobs/vitest.config.ts
  packages/persistence-postgres/vitest.config.ts
Due: lint, typecheck

fix: [] add Clerk mock to web test setup and increase test timeouts
  apps/web/src/lib/test/setup.ts
  apps/web/vitest.config.ts
Due: lint, typecheck

fix: [] fix web test infrastructure and P1 review comments
  apps/mobile/lib/chat/conversationCache.ts
  apps/web/src/app/(main)/admin/byod/page.tsx
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/api/v1/__tests__/health.test.ts
  apps/web/src/app/api/v1/__tests__/notes-sharing.auth.test.ts
  apps/web/src/app/api/v1/__tests__/notes-tasks.auth.test.ts
  apps/web/src/app/api/v1/__tests__/project-notes-tasks.auth.test.ts
  apps/web/src/components/chat/__tests__/BookmarkButton.test.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/components/chat/__tests__/ChatMessage.test.tsx
  apps/web/src/components/chat/__tests__/MessageNotesIndicator.test.tsx
  apps/web/src/components/chat/__tests__/QuickModelSwitcher.test.tsx
  apps/web/src/components/chat/__tests__/ShareDialog.test.tsx
  apps/web/src/hooks/__tests__/useCanvasHistory.test.ts
  apps/web/src/hooks/__tests__/useNotes.test.tsx
  apps/web/src/hooks/__tests__/useProjectNotes.test.tsx
  apps/web/src/hooks/__tests__/useProjectTasks.test.tsx
  apps/web/src/hooks/__tests__/useStarterSuggestions.test.tsx
  apps/web/src/hooks/__tests__/useTasks.test.tsx
  apps/web/src/lib/ai/__tests__/utils.test.ts
  apps/web/src/lib/persistence/conversationIntegrations.test.ts
  apps/web/src/lib/test/render-helpers.tsx
Due: lint, typecheck

fix: [] address P2 review comments from cubic
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/app/(drawer)/projects/[id].tsx
  apps/mobile/lib/chat/conversationCache.ts
  apps/mobile/lib/hooks/useMessages.ts
  apps/web/src/app/(main)/admin/models/[id]/page.tsx
  apps/web/src/app/(main)/admin/models/page.tsx
  apps/web/src/app/(main)/admin/usage/page.tsx
  apps/web/src/app/(main)/app/page.tsx
  apps/web/src/app/(main)/assistant/SmartAssistantPageClient.tsx
  apps/web/src/app/(main)/knowledge/KnowledgePageClient.tsx
  apps/web/src/hooks/__tests__/useCanvasHistory.test.ts
  apps/web/src/lib/hooks/queries/useCurrentUser.ts
Due: lint, typecheck

ci: [] add Postgres migration pipeline to CI/CD
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
  package.json
  packages/persistence-postgres/package.json
Due: lint

fix: [] address latest cubic review comments
  .github/workflows/ci.yml
  .github/workflows/release.yml
  apps/mobile/lib/hooks/useMessages.ts
Due: lint, typecheck

feat: [] add BYOD Neon persistence layer and REST API routes
  apps/web/src/app/api/v1/byod/migrations/route.ts
  apps/web/src/app/api/v1/byod/route.ts
  apps/web/src/app/api/v1/byod/test/route.ts
  apps/web/src/lib/api/dal/byod.ts
  apps/web/src/lib/persistence/byod.ts
Due: lint, typecheck

refactor: [] delegate routing scoring to PolicyEngine
  apps/web/src/lib/generation-v2/service.ts
Due: lint, typecheck

docs: [] add job ownership map and update Phase 12 status
  docs/architecture/postgres-rewrite/09-offline-mobile-resume.md
  docs/architecture/postgres-rewrite/12-job-ownership-map.md
  docs/architecture/postgres-rewrite/12-trigger-background-jobs.md
Due: none

feat: complete conversation tree crud
  apps/web/src/app/(main)/chat/page.tsx
  apps/web/src/app/api/v1/__tests__/conversation-pin-star.test.ts
  apps/web/src/app/api/v1/__tests__/conversations.test.ts
  apps/web/src/app/api/v1/conversations/[id]/pin/route.ts
  apps/web/src/app/api/v1/conversations/[id]/star/route.ts
  apps/web/src/app/api/v1/conversations/route.ts
  apps/web/src/components/chat/BranchBadge.tsx
  apps/web/src/components/chat/FireButton.tsx
  apps/web/src/components/chat/__tests__/BranchBadge.test.ts
  apps/web/src/components/sidebar/ConversationItem.tsx
  apps/web/src/components/sidebar/RenameDialog.tsx
  apps/web/src/components/sidebar/__tests__/ConversationItem.test.tsx
  apps/web/src/components/sidebar/__tests__/RenameDialog.test.tsx
  apps/web/src/components/sidebar/app-sidebar.tsx
  apps/web/src/hooks/useEmptyConversationReuse.ts
  apps/web/src/hooks/useNewChat.ts
  apps/web/src/hooks/useRestConversationSync.ts
  apps/web/src/lib/api/dal/conversations.ts
  apps/web/src/lib/hooks/mutations/index.ts
  apps/web/src/lib/hooks/mutations/useRenameConversation.ts
  apps/web/src/lib/hooks/mutations/useTogglePin.ts
  apps/web/src/lib/hooks/mutations/useToggleStar.ts
  apps/web/src/lib/persistence/mappers.ts
  docs/architecture/postgres-rewrite/05-conversation-tree-and-crud.md
  docs/architecture/postgres-rewrite/README.md
  packages/persistence-postgres/__tests__/tree-crud.test.ts
  packages/persistence-postgres/src/repositories/conversations.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

feat: [] add shadow evaluator and widen policy engine feedback signals
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
  packages/auto-router/src/index.ts
  packages/auto-router/src/policy-engine.test.ts
  packages/auto-router/src/policy-engine.ts
  packages/auto-router/src/shadow-evaluator.test.ts
  packages/auto-router/src/shadow-evaluator.ts
Due: lint, typecheck

fix: [] suppress type depth in usePreferences
  apps/web/src/lib/hooks/queries/usePreferences.ts
Due: lint, typecheck

feat: [] add pgvector type, search utils, and FTS migration
  packages/persistence-postgres/__tests__/hybrid-search.test.ts
  packages/persistence-postgres/__tests__/migrations.test.ts
  packages/persistence-postgres/__tests__/schema.test.ts
  packages/persistence-postgres/__tests__/search-utils.test.ts
  packages/persistence-postgres/__tests__/vector-type.test.ts
  packages/persistence-postgres/drizzle/0008_phase11_pgvector_fts.sql
  packages/persistence-postgres/drizzle/meta/_journal.json
  packages/persistence-postgres/src/index.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/search-utils.ts
  packages/persistence-postgres/src/testing/pglite.ts
  packages/persistence-postgres/src/vector-type.ts
Due: lint, typecheck

feat: migrate chat message actions
  apps/web/src/app/api/v1/__tests__/message-update.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/messages/[id]/route.ts
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageActions.tsx
  apps/web/src/components/chat/MessageActionsMenu.tsx
  apps/web/src/components/chat/MessageActionsMenuMobile.tsx
  apps/web/src/hooks/useMessageKeyboardShortcuts.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
  apps/web/src/lib/generation-v2/repository.ts
Due: lint, typecheck

feat: [] add epsilon-greedy exploration policy
  packages/auto-router/src/exploration.test.ts
  packages/auto-router/src/exploration.ts
Due: lint, typecheck

docs: [] close phase 7
  docs/architecture/postgres-rewrite/07-generation-v2-single-model.md
  docs/architecture/postgres-rewrite/README.md
Due: none

refactor: [] use pgvector cosine distance for memory dedup
  packages/jobs/src/trigger/extract-memories.ts
Due: lint, typecheck

refactor: move preference hooks to rest
  apps/web/src/hooks/__tests__/useUserPreference.test.tsx
  apps/web/src/hooks/useFeatureToggles.ts
  apps/web/src/hooks/useUserPreference.ts
Due: lint, typecheck

refactor: migrate jobs DAL from Convex stubs to Trigger.dev
  apps/web/src/app/api/v1/actions/jobs/[id]/route.ts
  apps/web/src/lib/api/dal/jobs.test.ts
  apps/web/src/lib/api/dal/jobs.ts
Due: lint, typecheck

docs: sync rewrite phase status
  docs/architecture/postgres-rewrite/01-architecture-spec.md
  docs/architecture/postgres-rewrite/02-infrastructure-setup.md
  docs/architecture/postgres-rewrite/03-postgres-schema.md
  docs/architecture/postgres-rewrite/04-auth-and-identity.md
  docs/architecture/postgres-rewrite/05-conversation-tree-and-crud.md
  docs/architecture/postgres-rewrite/06-blob-storage-on-r2.md
  docs/architecture/postgres-rewrite/07-generation-v2-single-model.md
  docs/architecture/postgres-rewrite/08-comparison-mode.md
  docs/architecture/postgres-rewrite/09-offline-mobile-resume.md
  docs/architecture/postgres-rewrite/10-router-v2.md
  docs/architecture/postgres-rewrite/11-search-embeddings-memory.md
  docs/architecture/postgres-rewrite/12-trigger-background-jobs.md
  docs/architecture/postgres-rewrite/13-byod-v1-bring-your-own-neon.md
  docs/architecture/postgres-rewrite/14-historical-data-migration.md
  docs/architecture/postgres-rewrite/15-full-cutover.md
  docs/architecture/postgres-rewrite/16-dead-code-removal.md
  docs/architecture/postgres-rewrite/17-hardening-and-observability.md
  docs/architecture/postgres-rewrite/README.md
Due: none

feat: [] add BYOD Neon connection validation, migration runner, and resolver
  packages/persistence-postgres/__tests__/migrate-remote.test.ts
  packages/persistence-postgres/__tests__/validate-neon.test.ts
  packages/persistence-postgres/src/byod/migrate-remote.ts
  packages/persistence-postgres/src/byod/resolver.ts
  packages/persistence-postgres/src/byod/validate-neon.ts
  packages/persistence-postgres/src/index.ts
  packages/persistence-postgres/src/repositories/byod-config.ts
Due: lint, typecheck

feat: [] add BYOD Neon settings UI, config hook, and connection blocker
  apps/web/src/components/byod/ConnectionBlocker.tsx
  apps/web/src/components/settings/BYODSettings.tsx
  apps/web/src/components/settings/byod/BYODConfigForm.tsx
  apps/web/src/components/settings/byod/BYODInfoDialog.tsx
  apps/web/src/components/settings/byod/ConnectionStatusCard.tsx
  apps/web/src/components/settings/byod/DisconnectDialog.tsx
  apps/web/src/components/settings/byod/InstanceInfoCard.tsx
  apps/web/src/components/settings/byod/types.ts
  apps/web/src/lib/hooks/queries/useBYODConfig.tsx
Due: lint, typecheck

feat: complete auth identity cutover
  apps/web/src/app/api/composio/callback/route.ts
  apps/web/src/app/api/v1/__tests__/conversations.test.ts
  apps/web/src/app/api/v1/__tests__/messages-stream.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/__tests__/preferences.test.ts
  apps/web/src/app/api/v1/conversations/[id]/messages/route.ts
  apps/web/src/app/api/v1/conversations/[id]/route.ts
  apps/web/src/app/api/v1/conversations/route.ts
  apps/web/src/app/api/v1/conversations/stream/route.ts
  apps/web/src/app/api/v1/messages/stream/[conversationId]/route.ts
  apps/web/src/app/api/v1/preferences/route.ts
  apps/web/src/app/api/v1/preferences/stream/route.ts
  apps/web/src/app/api/webhooks/__tests__/clerk.test.ts
  apps/web/src/app/api/webhooks/clerk/route.ts
  apps/web/src/lib/api/dal/__tests__/messages.attachments.test.ts
  apps/web/src/lib/api/dal/conversations.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/api/dal/preferences.ts
  apps/web/src/lib/api/dal/users.ts
  apps/web/src/lib/api/middleware/__tests__/auth.test.ts
  apps/web/src/lib/api/middleware/auth.test.ts
  apps/web/src/lib/api/middleware/auth.ts
  docs/architecture/postgres-rewrite/04-auth-and-identity.md
  docs/architecture/postgres-rewrite/README.md
  packages/persistence-postgres/__tests__/users-preferences.test.ts
  packages/persistence-postgres/src/index.ts
  packages/persistence-postgres/src/repositories/preferences.ts
  packages/persistence-postgres/src/repositories/users.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

feat: [] finish comparison mode UI
  apps/web/e2e/comparison-mode.spec.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ComparisonPanel.tsx
  apps/web/src/components/chat/ComparisonTrigger.tsx
  apps/web/src/components/chat/ComparisonView.tsx
  apps/web/src/components/chat/ConsolidateDialog.tsx
  apps/web/src/components/chat/MessageConsolidationToggle.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/components/chat/__tests__/ChatMessage.test.tsx
  apps/web/src/components/chat/__tests__/ComparisonView.test.tsx
  apps/web/src/components/chat/__tests__/ConsolidateDialog.test.tsx
  apps/web/src/components/chat/__tests__/VirtualizedMessageList.test.tsx
  apps/web/src/hooks/__tests__/useComparisonGroupState.test.tsx
  apps/web/src/hooks/useComparisonGroupState.ts
  apps/web/src/lib/analytics.ts
Due: lint, typecheck

refactor: copy prompts locally, rename legacy ID validators
  apps/web/src/components/chat/ShareDialog.tsx
  apps/web/src/lib/conversations/compaction.ts
  apps/web/src/lib/conversations/titleGeneration.ts
  apps/web/src/lib/persistence/notes.ts
  apps/web/src/lib/prompts/operational.test.ts
  apps/web/src/lib/prompts/operational.ts
  apps/web/src/lib/utils/__tests__/chatRouteIds.test.ts
  apps/web/src/lib/utils/chatRouteIds.ts
Due: lint, typecheck

fix: [] point desktop build at existing icon
  apps/desktop/src-tauri/tauri.conf.json
Due: lint
