Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

fix: stabilize trigger deployments
  .github/workflows/deploy-trigger.yml
  packages/jobs/src/trigger/generation-maintenance.ts
  packages/jobs/src/trigger/memory-maintenance.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

fix: sync deleted trigger schedules
  packages/jobs/src/trigger/legacy-schedule-tombstones.ts
Due: lint, typecheck

bd sync: 2026-05-15 06:51:03
  .beads/issues.jsonl
Due: none

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

ci: stop desktop releases
  .github/workflows/ci.yml
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
  .release-please-config.json
  .release-please-manifest.json
  package.json
  scripts/check-desktop-version-sync.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
Due: lint

fix: remove stale desktop release note
  apps/desktop/CHANGELOG.md
Due: none

fix: unblock Trigger schedule pruning
  packages/jobs/src/trigger/generation-maintenance.ts
  packages/jobs/src/trigger/legacy-schedule-tombstones.ts
  packages/jobs/src/trigger/memory-maintenance.ts
  packages/jobs/src/trigger/reconcile-clerk-users.test.ts
  packages/jobs/src/trigger/reconcile-clerk-users.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

fix: allow Trigger internal process callbacks
  apps/web/src/proxy.ts
  packages/jobs/src/trigger/process-generation.test.ts
  packages/jobs/src/trigger/process-generation.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

ci: install deps before prebuilt production deploy
  .github/workflows/release.yml
Due: none

ci: install deps before prebuilt production deploy (#510)
  .github/workflows/release.yml
Due: none

ci: deploy production from one workspace
  .github/workflows/release.yml
Due: none

ci: pin production deploy tooling
  .github/workflows/release.yml
Due: none

fix(ai): route all operational models via OpenRouter
  packages/ai/src/operational-models.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
Due: lint

feat(ai): add 2026 model refresh via OpenRouter
  apps/web/src/lib/ai/icons.ts
  packages/ai/src/models.ts
Due: lint, typecheck

feat: fast ack pre-response while heavy model spins up
  apps/web/src/app/api/v1/generations/route.ts
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageLoadingState.tsx
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/conversations/ackGeneration.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/prompts/operational.ts
  packages/ai/src/operational-models.ts
  packages/streaming-core/src/index.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/streaming-core/CHANGELOG.md
  packages/streaming-core/package.json
Due: lint
