Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

refactor(mobile): extract shared utilities from duplicated code
  apps/mobile/app/(drawer)/notes/[id].tsx
  apps/mobile/components/chat/BookmarkSheet.tsx
  apps/mobile/components/chat/MessageActionSheet.tsx
  apps/mobile/components/chat/ModelPicker.tsx
  apps/mobile/components/chat/SaveAsNoteSheet.tsx
  apps/mobile/components/drawer/DrawerContent.tsx
  apps/mobile/components/drawer/ProjectFilterSheet.tsx
  apps/mobile/components/notes/NoteFilterSheet.tsx
  apps/mobile/components/notes/NoteListItem.tsx
  apps/mobile/components/notes/NoteMenuSheet.tsx
  apps/mobile/components/notes/NoteShareSheet.tsx
  apps/mobile/lib/utils/bottomSheet.ts
  apps/mobile/lib/utils/time.ts
  apps/mobile/lib/utils/toolCalls.ts
Due: lint, typecheck

fix(mobile): resolve bugs in chat rendering and animations
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/components/chat/MermaidModal.tsx
  apps/mobile/components/chat/MessageBubble.tsx
  apps/mobile/components/chat/MessageList.tsx
  apps/mobile/components/chat/ReasoningBlock.tsx
  apps/mobile/components/chat/ToolCallItem.tsx
  apps/mobile/components/chat/ToolCallList.tsx
Due: lint, typecheck

feat(mobile): add design system tokens and migrate hardcoded values
  apps/mobile/components/auth/SocialAuthButtons.tsx
  apps/mobile/components/chat/CodeBlock.tsx
  apps/mobile/components/chat/EditMessageModal.tsx
  apps/mobile/lib/theme/designSystem.ts
Due: lint, typecheck

feat(mobile): add typed Convex API, ErrorBoundary, and accessibility
  apps/mobile/app/(drawer)/_layout.tsx
  apps/mobile/components/ErrorBoundary.tsx
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/components/chat/SiblingNavigator.tsx
  apps/mobile/lib/convex.ts
  apps/mobile/package.json
  bun.lock
Due: lint, typecheck

fix(mobile): revert typed Convex API to fix React version mismatch
  apps/mobile/lib/convex.ts
  apps/mobile/lib/utils/toolCalls.ts
  apps/mobile/package.json
Due: lint, typecheck

fix(mobile): pin react to 19.1.0 to match react-native 0.81.5
  apps/mobile/package.json
  bun.lock
Due: lint

fix(mobile): fix refractor crash by shimming it out in Metro
  apps/mobile/metro.config.js
  apps/mobile/package.json
Due: lint

fix(mobile): use require() for bible-passage-reference-parser
  apps/mobile/lib/bible/parser.ts
Due: lint, typecheck

fix(mobile): audit phase A/B — parser fix, design system, typed API
  .beads/issues.jsonl
  apps/mobile/app/(auth)/sign-in.tsx
  apps/mobile/app/(auth)/sign-up.tsx
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/components/auth/SocialAuthButtons.tsx
  apps/mobile/components/chat/MarkdownContent.tsx
  apps/mobile/components/chat/MathRenderer.tsx
  apps/mobile/lib/convex.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  bun.lock
Due: lint, typecheck

chore: harden ai sdk v6 usage handling
  CLAUDE.md
  apps/web/src/lib/ai/__tests__/utils.test.ts
  docs/features/reasoning.md
  docs/features/tool-calling.md
  packages/ai/src/operational-models.ts
  packages/ai/src/utils.ts
  packages/backend/convex/__tests__/generation.test.ts
  packages/backend/convex/__tests__/usage.test.ts
  packages/backend/convex/files/extraction.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/generation/image.ts
  packages/backend/convex/generation/tools.ts
  packages/backend/convex/tokens/counting.ts
  packages/backend/convex/tokens/service.ts
Due: lint, typecheck

fix(mobile,web): new chat button + sidebar auto-close + SSR header visibility
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/web/src/app/(main)/MainLayoutClient.tsx
  apps/web/src/components/sidebar/ConversationItem.tsx
  apps/web/src/components/sidebar/app-sidebar.tsx
Due: lint, typecheck

fix(mobile): remove _generated imports to pass portable check
  apps/mobile/lib/convex.ts
Due: lint, typecheck

fix(test): mock useSidebar in ConversationItem tests
  apps/web/src/components/sidebar/__tests__/ConversationItem.test.tsx
Due: lint, typecheck

feat(mobile): add settings screen with full preference management
  apps/mobile/app/(drawer)/_layout.tsx
  apps/mobile/app/(drawer)/settings/_layout.tsx
  apps/mobile/app/(drawer)/settings/advanced.tsx
  apps/mobile/app/(drawer)/settings/api-keys.tsx
  apps/mobile/app/(drawer)/settings/danger-zone.tsx
  apps/mobile/app/(drawer)/settings/index.tsx
  apps/mobile/app/(drawer)/settings/integrations.tsx
  apps/mobile/app/(drawer)/settings/knowledge.tsx
  apps/mobile/app/(drawer)/settings/memory.tsx
  apps/mobile/app/(drawer)/settings/personalization.tsx
  apps/mobile/app/(drawer)/settings/voice.tsx
  apps/mobile/components/drawer/DrawerContent.tsx
  apps/mobile/components/settings/SettingsRow.tsx
  apps/mobile/components/settings/SettingsSection.tsx
  apps/mobile/lib/hooks/index.ts
  apps/mobile/lib/hooks/useCustomInstructions.ts
  apps/mobile/lib/hooks/usePreferences.ts
  apps/mobile/lib/hooks/useUpdatePreference.ts
  apps/mobile/package.json
  bun.lock
Due: lint, typecheck

fix(mobile): keep bun lockfile for EAS
  apps/mobile/package.json
Due: lint

fix(ci): sync lockfile and unblock checks
  apps/mobile/lib/utils/toolCalls.ts
  bun.lock
  packages/backend/convex/incognito.ts
Due: lint, typecheck

fix(ci): restore valid incognito stale query
  packages/backend/convex/incognito.ts
Due: lint, typecheck

fix(mobile): remove dead (app) route group and fix auth redirect
  apps/mobile/app/(app)/_layout.tsx
  apps/mobile/app/(app)/chat/[id].tsx
  apps/mobile/app/(app)/chat/new.tsx
  apps/mobile/app/(app)/index.tsx
  apps/mobile/app/(auth)/_layout.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

fix(docs): add blank lines around lists and after headings
  apps/cognitive-memory-eval/test-results/report.md
  docs/implementation/screen-time.md
Due: none
