Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(generation): cleanup partial tool calls on error paths
  packages/backend/convex/__tests__/toolCalls.test.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/messages.ts
  packages/backend/convex/messages/toolCalls.ts
Due: lint, typecheck

fix: move markError before releaseLock to prevent stuck state
  packages/backend/convex/generation.ts
Due: lint, typecheck

docs: mark P3 tool call consistency as done
  .beads/issues.jsonl
  docs/openwebui/issues/P3-generation/02-tool-call-consistency.md
Due: none

docs: mark P1/P2 issues as complete
  docs/openwebui/issues/P1-scroll/04-ios-keyboard.md
  docs/openwebui/issues/P1-scroll/05-anchoring.md
  docs/openwebui/issues/P2-input/01-draft-persistence.md
Due: none

feat(streaming): add subtle fade animation for streaming text
  apps/web/src/styles/prose.css
Due: none

feat(streaming): add buffer state tracking to useStreamBuffer
  apps/web/src/hooks/useStreamBuffer.ts
Due: lint, typecheck

feat(a11y): bypass stream buffering when reduced motion preferred
  apps/web/src/components/chat/MarkdownContent.tsx
Due: lint, typecheck

chore(main): release 1.2.0
  CHANGELOG.md
  package.json
Due: lint

docs: mark P4 streaming smoothness as complete
  docs/openwebui/issues/P4-streaming/01-smoothness.md
Due: none

bd sync: 2026-01-18 21:30:13
  .beads/issues.jsonl
Due: none

refactor(chat): extract tool utilities to shared module
  apps/web/src/components/chat/toolCallUtils.ts
Due: lint, typecheck

feat(chat): add StatusTimeline for tool execution progress
  apps/web/src/components/chat/StatusTimeline.tsx
Due: lint, typecheck

feat(chat): integrate StatusTimeline in AI messages
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/ToolCallDisplay.tsx
Due: lint, typecheck

fix(chat): graceful StatusTimeline exit animation and aria-busy string
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/StatusTimeline.tsx
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
