Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

docs: expand cognitive-memory SDK README
  packages/cognitive-memory/README.md
Due: none

fix: quote run cmd with colon
  .github/workflows/release-please-auto-merge.yml
Due: none

feat(cognitive-memory): access frequency reinforcement
  packages/cognitive-memory/__tests__/CognitiveMemory.test.ts
  packages/cognitive-memory/__tests__/decay.test.ts
  packages/cognitive-memory/src/core/CognitiveMemory.ts
  packages/cognitive-memory/src/core/decay.ts
  packages/cognitive-memory/src/core/types.ts
  packages/cognitive-memory/vitest.config.ts
Due: lint, typecheck

feat(cognitive-memory): add postgres and jsonl adapters
  bun.lock
  packages/cognitive-memory/__tests__/adapters/jsonl.test.ts
  packages/cognitive-memory/__tests__/adapters/postgres.test.ts
  packages/cognitive-memory/package.json
  packages/cognitive-memory/src/adapters/jsonl.ts
  packages/cognitive-memory/src/adapters/postgres.ts
Due: lint, typecheck

docs(cognitive-memory): update README
  packages/cognitive-memory/README.md
Due: none

fix(cognitive-memory): jsonl rollover preserves history
  packages/cognitive-memory/README.md
  packages/cognitive-memory/__tests__/adapters/jsonl.test.ts
  packages/cognitive-memory/src/adapters/jsonl.ts
Due: lint, typecheck

fix(cognitive-memory): postgres linked memories bidirectional
  packages/cognitive-memory/__tests__/adapters/postgres.test.ts
  packages/cognitive-memory/src/adapters/postgres.ts
Due: lint, typecheck

fix(ci): stop actions approving PRs
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release-please-auto-merge.yml
Due: none

chore(release): add cognitive-memory to release-please
  .release-please-config.json
  .release-please-manifest.json
Due: lint

fix(ci): use MERGE_BOT_TOKEN for automerge approvals
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/release-please-auto-merge.yml
Due: none

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
  packages/cognitive-memory/CHANGELOG.md
  packages/cognitive-memory/package.json
Due: lint

feat: cognitive memory eval harness
  apps/cognitive-memory-eval/.gitignore
  apps/cognitive-memory-eval/README.md
  apps/cognitive-memory-eval/config.json
  apps/cognitive-memory-eval/package.json
  apps/cognitive-memory-eval/src/analysis/calculate-metrics.ts
  apps/cognitive-memory-eval/src/analysis/generate-report.ts
  apps/cognitive-memory-eval/src/analysis/statistical-tests.ts
  apps/cognitive-memory-eval/src/analysis/visualizations.ts
  apps/cognitive-memory-eval/src/config.ts
  apps/cognitive-memory-eval/src/generators/conversations.ts
  apps/cognitive-memory-eval/src/generators/index.ts
  apps/cognitive-memory-eval/src/generators/personas.ts
  apps/cognitive-memory-eval/src/generators/questions.ts
  apps/cognitive-memory-eval/src/seeding/core.ts
  apps/cognitive-memory-eval/src/seeding/seed-memories.ts
  apps/cognitive-memory-eval/src/test/answer-questions.ts
  apps/cognitive-memory-eval/src/test/judge-answers.ts
  apps/cognitive-memory-eval/src/types.ts
  apps/cognitive-memory-eval/src/utils/cli.ts
  apps/cognitive-memory-eval/src/utils/embeddings-cache.ts
  apps/cognitive-memory-eval/src/utils/fs.ts
  apps/cognitive-memory-eval/src/utils/jsonl.ts
  apps/cognitive-memory-eval/src/utils/llm.ts
  apps/cognitive-memory-eval/src/utils/paths.ts
  apps/cognitive-memory-eval/src/utils/retry.ts
  apps/cognitive-memory-eval/tsconfig.json
  bun.lock
  packages/cognitive-memory/__tests__/CognitiveMemory.test.ts
  packages/cognitive-memory/src/adapters/in-memory.ts
  packages/cognitive-memory/src/adapters/index.ts
  packages/cognitive-memory/src/index.ts
Due: lint, typecheck

feat: add progress logs to eval harness
  apps/cognitive-memory-eval/src/analysis/generate-report.ts
  apps/cognitive-memory-eval/src/generators/conversations.ts
  apps/cognitive-memory-eval/src/generators/index.ts
  apps/cognitive-memory-eval/src/generators/personas.ts
  apps/cognitive-memory-eval/src/generators/questions.ts
  apps/cognitive-memory-eval/src/seeding/seed-memories.ts
  apps/cognitive-memory-eval/src/test/answer-questions.ts
  apps/cognitive-memory-eval/src/test/judge-answers.ts
  apps/cognitive-memory-eval/src/utils/llm.ts
  apps/cognitive-memory-eval/src/utils/log.ts
Due: lint, typecheck

perf: reduce TTFT by parallelizing generation pipeline
  packages/backend/convex/chat.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/lib/prompts/systemBuilder.ts
Due: lint, typecheck

feat(mobile): increase chat input max expand height to 200px
  apps/mobile/components/chat/ChatInput.tsx
Due: lint, typecheck

fix: dependabot auto-merge workflow chain
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-lockfile.yml
Due: none

fix(mobile): remove dead (app) route group and fix auth redirect
  apps/mobile/app/(app)/_layout.tsx
  apps/mobile/app/(app)/chat/[id].tsx
  apps/mobile/app/(app)/chat/new.tsx
  apps/mobile/app/(app)/index.tsx
  apps/mobile/app/(auth)/_layout.tsx
Due: lint, typecheck
