Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
Due: lint

fix(ci): build app+dmg for desktop updater artifacts
  .github/workflows/release-desktop.yml
Due: none

chore: release main (#374)
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
Due: lint

fix(web): synthesize desktop updater manifest from release artifacts
  apps/web/src/app/api/desktop-updater/latest/route.ts
Due: lint, typecheck

fix: verify notarized dmg with open assessment
  .github/workflows/release-desktop-finalize.yml
Due: none

fix: verify notarized dmg with proper spctl mode (#381)
  .github/workflows/release-desktop-finalize.yml
Due: none

fix: allow manual production deploy dispatch
  .github/workflows/release.yml
Due: none

fix: allow manual production deploy dispatch (#384)
  .github/workflows/release.yml
Due: none

fix: build convex deps in production deploy
  .github/workflows/release.yml
Due: none

fix: build workspace deps before convex production deploy (#385)
  .github/workflows/release.yml
Due: none

fix: use backend deploy script in production workflow
  .github/workflows/release.yml
Due: none

fix: use backend deploy script for production convex deploy (#386)
  .github/workflows/release.yml
Due: none

fix: allow unauthenticated desktop updater endpoint
  apps/web/src/proxy.ts
Due: lint, typecheck

fix: expose desktop updater route as public (#387)
  apps/web/src/proxy.ts
Due: lint, typecheck

refactor(backend): improve system prompt with tool-augmented truth
  packages/backend/convex/lib/prompts/base.ts
  packages/backend/convex/lib/prompts/systemBuilder.ts
Due: lint, typecheck

feat(backend): add tool result data boundary for prompt injection protection
  packages/backend/convex/generation.ts
  packages/backend/convex/generation/tools.ts
Due: lint, typecheck

feat(web): add message timestamps and date separators
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/DateSeparator.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useMessageGrouping.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

feat: refine starter suggestions with cycling pool and card layout
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/lib/hooks/useStarterSuggestions.ts
  apps/mobile/lib/prompts/suggestions.ts
  apps/web/src/components/chat/EmptyScreen.tsx
  apps/web/src/hooks/useStarterSuggestions.ts
  packages/backend/convex/chatSuggestions.ts
  packages/shared/src/chatSuggestions.ts
Due: lint, typecheck

fix(web): defer mermaid rendering until streaming completes
  apps/web/src/components/chat/MarkdownContent.tsx
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

test: update chatSuggestions tests for pool size of 6
  packages/backend/convex/__tests__/chatSuggestions.test.ts
Due: lint, typecheck

test: update EmptyScreen test mock for visibleSuggestions
  apps/web/src/components/chat/__tests__/EmptyScreen.test.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: lint

chore: update lockfile for version bumps
  bun.lock
Due: none
