Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

fix: validate fallback model and sync pre-created message model
  packages/backend/convex/generation.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

chore(main): release 1.19.1
  CHANGELOG.md
  package.json
Due: lint

chore: disable darwin-x64 build temporarily
  .github/workflows/release-cli.yml
Due: none

fix(cli): use cli-v tag format and remove darwin-x64
  apps/cli/scripts/publish.ts
Due: lint, typecheck

fix(cli): resolve TreeSitter worker path in compiled binary
  apps/cli/scripts/compile.ts
  apps/cli/src/components/Markdown.tsx
  apps/cli/src/lib/tree-sitter-parsers.ts
Due: lint, typecheck

chore(main): release 1.19.2
  CHANGELOG.md
  package.json
Due: lint

ci: auto-release CLI on push to main
  .github/workflows/release-cli.yml
Due: none

feat: add auto router enabled setting with analytics
  apps/web/src/app/(main)/MainLayoutClient.tsx
  apps/web/src/components/settings/UISettings.tsx
  apps/web/src/components/settings/sections/AutoRouterSection.tsx
  apps/web/src/hooks/useUISettingsState.ts
  apps/web/src/lib/analytics.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

fix(ci): use tab delimiter when parsing gh release list
  .github/workflows/release-cli.yml
Due: none

fix(cli): resolve parser.worker.js from package root
  apps/cli/scripts/compile.ts
Due: lint, typecheck

chore(main): release 1.20.0
  CHANGELOG.md
  package.json
Due: lint

fix(cli): await async actions and add --api-key login option
  apps/cli/src/commands/login.tsx
  apps/cli/src/index.tsx
Due: lint, typecheck

chore(main): release 1.20.1
  CHANGELOG.md
  package.json
Due: lint

feat(cli): add debug command and fix search query param
  apps/cli/src/commands/debug.ts
  apps/cli/src/index.tsx
  apps/cli/src/lib/queries.ts
Due: lint, typecheck

chore(main): release 1.21.0
  CHANGELOG.md
  package.json
Due: lint

Investigate CLI connection hang
  apps/cli/src/commands/chat.tsx
  apps/cli/src/commands/config.tsx
  apps/cli/src/commands/debug.ts
  apps/cli/src/components/ConversationList.tsx
  apps/cli/src/lib/auth.ts
  apps/cli/src/lib/config.ts
Due: lint, typecheck

Fix api key revoked after cli update
  apps/cli/src/commands/config.tsx
  apps/cli/src/commands/debug.ts
  apps/cli/src/index.tsx
  apps/cli/src/lib/config.ts
  apps/raycast/src/lib/client.ts
  docs/tui/README.md
Due: lint, typecheck

feat(sdk): add publish-ready typed SDK
  apps/web/package.json
  apps/web/src/app/api/v1/doc/route.ts
  apps/web/src/app/api/v1/openapi.json/route.ts
  bun.lock
  package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/examples/smoke.ts
  packages/sdk/openapi/openapi.json
  packages/sdk/package.json
  packages/sdk/scripts/generate-types.ts
  packages/sdk/src/client.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/generated/openapi.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sse.ts
  packages/sdk/src/types.ts
  packages/sdk/tsconfig.json
Due: lint, typecheck

feat(api): harden authz and portable SSE
  apps/web/src/app/api/v1/__tests__/cli-rpc.test.ts
  apps/web/src/app/api/v1/__tests__/messages-stream.test.ts
  apps/web/src/app/api/v1/cli/messages/stream/[conversationId]/route.ts
  apps/web/src/app/api/v1/cli/rpc/route.ts
  apps/web/src/app/api/v1/conversations/stream/route.ts
  apps/web/src/app/api/v1/messages/stream/[conversationId]/route.ts
  apps/web/src/app/api/v1/preferences/route.ts
  apps/web/src/app/api/v1/preferences/stream/route.ts
  apps/web/src/lib/api/cors.ts
  apps/web/src/lib/api/dal/preferences.ts
  apps/web/src/lib/api/middleware/__tests__/auth.test.ts
  apps/web/src/lib/api/middleware/apiKeyAuth.ts
  apps/web/src/proxy.ts
Due: lint, typecheck

ci: add sdk and raycast release automation
  .github/workflows/ci.yml
  .github/workflows/release-raycast.yml
  .github/workflows/release-sdk.yml
  scripts/check-portable-imports.ts
  scripts/check-sdk-version-bump.ts
Due: lint, typecheck

chore(ci): simplify sdk version arg parse
  scripts/check-sdk-version-bump.ts
Due: lint, typecheck

fix(raycast): relax lint for bun-only workspace
  apps/raycast/package.json
Due: lint

fix(ci): stabilize failing PR checks
  .github/workflows/claude-code-review.yml
  packages/sdk/scripts/generate-types.ts
  scripts/check-sdk-version-bump.ts
Due: lint, typecheck

fix(ci): handle shallow sdk version check
  scripts/check-sdk-version-bump.ts
Due: lint, typecheck

fix(ci): fallback portable check when rg missing
  scripts/check-portable-imports.ts
Due: lint, typecheck
