Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

chore(main): release 1.18.1
  CHANGELOG.md
  package.json
Due: lint

fix(cli): use native runners for cross-platform builds
  .github/workflows/release-cli.yml
  apps/cli/scripts/compile.ts
Due: lint, typecheck

chore(main): release 1.18.2
  CHANGELOG.md
  package.json
Due: lint

ci: switch from Blacksmith to GitHub Actions runners
  .github/workflows/ci.yml
  .github/workflows/contributors.yml
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
Due: none

fix(ci): add checkout step to dependabot auto-merge workflow
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix(cli): use PowerShell Compress-Archive on Windows
  apps/cli/scripts/compile.ts
Due: lint, typecheck

chore(main): release 1.18.3
  CHANGELOG.md
  package.json
Due: lint

fix(ci): use macos-15-large for darwin-x64 (macos-13 retired)
  .github/workflows/release-cli.yml
Due: none

feat(cli): add multi-platform distribution support
  .github/workflows/release-cli.yml
  apps/cli/bin/blah.js
  apps/cli/package.json
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/publish.ts
  apps/web/vercel.json
  install
Due: lint, typecheck

docs: add CLI installation instructions to README
  README.md
Due: none

fix(web): escape > characters in JSX DialogDescription
  apps/web/src/components/onboarding/AutoRouterPreferenceModal.tsx
Due: lint, typecheck

docs: add login step to CLI usage
  README.md
Due: none

fix: add autoRouterEnabled and showSlides to preferences schema
  packages/backend/convex/users.ts
  packages/backend/convex/users/constants.ts
Due: lint, typecheck

fix(test): add missing get/put mocks to userPreferences cache
  apps/web/src/lib/test/setup.ts
Due: lint, typecheck

fix(cli): address PR review issues
  apps/cli/bin/blah.js
  apps/cli/scripts/postinstall.mjs
  apps/cli/scripts/publish.ts
  install
Due: lint, typecheck

fix(backend): add missing getUserPreferenceState query
  packages/backend/convex/users.ts
Due: lint, typecheck

fix(install): use INSTALL_DIR for PATH instead of hardcoded path
  install
Due: none

fix(cli): split scoped package name into path segments for join()
  apps/cli/bin/blah.js
Due: lint

fix(cli): split scoped package name in postinstall path join
  apps/cli/scripts/postinstall.mjs
Due: lint

chore(main): release 1.19.0
  CHANGELOG.md
  package.json
Due: lint

fix(ci): use macos-13 for darwin-x64 CLI builds
  .github/workflows/release-cli.yml
Due: none

fix(ci): allow partial release uploads when some builds fail
  .github/workflows/release-cli.yml
Due: none

fix(ci): use macos-13 for darwin-x64 CLI builds (#276)
  .github/workflows/release-cli.yml
Due: none

fix(ci): use macos-15-large for darwin-x64 CLI builds
  .github/workflows/release-cli.yml
Due: none

fix(ci): use draft-then-publish for immutable releases
  .github/workflows/release-cli.yml
Due: none
