Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: lint

fix: desktop app security, UX, and code quality overhaul
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/deep_link.rs
  apps/desktop/src-tauri/src/error.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/settings.rs
  apps/desktop/src-tauri/src/shortcuts.rs
  apps/desktop/src-tauri/src/tray.rs
  apps/desktop/src-tauri/src/updater.rs
  apps/desktop/src-tauri/src/validation.rs
  apps/desktop/src-tauri/src/windows.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/src/app/desktop/quick/page.tsx
  apps/web/src/lib/desktop/ipc.ts
Due: lint, typecheck

feat: desktop remaining review items — offline fallback, cross-platform CI, companion polish, badge API
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/desktop-shell.json
  apps/desktop/src-tauri/offline.html
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/shortcuts.rs
  apps/desktop/src-tauri/src/tray.rs
  apps/desktop/src-tauri/src/updater.rs
  apps/desktop/src-tauri/src/windows.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/src/app/desktop/quick/page.tsx
  apps/web/src/lib/desktop/ipc.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

fix: trigger desktop release on tag push instead of release event
  .github/workflows/release-desktop.yml
Due: none

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

fix: keep temporal prefixes in prompt history only
  packages/backend/convex/__tests__/generation.test.ts
  packages/backend/convex/__tests__/messages.test.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/generation/history.ts
  packages/backend/convex/generation/index.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

fix: address temporal prefix review feedback
  packages/backend/convex/__tests__/generation.test.ts
  packages/backend/convex/__tests__/messages.test.ts
  packages/backend/convex/generation/history.ts
  packages/backend/convex/generation/index.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

fix: keep temporal prefixes in prompt history only (#402)
  packages/backend/convex/__tests__/generation.test.ts
  packages/backend/convex/__tests__/messages.test.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/generation/history.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

docs: add development principles to CLAUDE.md
  CLAUDE.md
Due: none

chore: remove raycast app
  apps/raycast/.eslintrc.json
  apps/raycast/README.md
  apps/raycast/assets/icon.png
  apps/raycast/package.json
  apps/raycast/raycast-env.d.ts
  apps/raycast/src/ask.tsx
  apps/raycast/src/bookmarks.tsx
  apps/raycast/src/components/ModelPicker.tsx
  apps/raycast/src/continue.tsx
  apps/raycast/src/lib/api.ts
  apps/raycast/src/lib/client.ts
  apps/raycast/src/memories.tsx
  apps/raycast/src/notes.tsx
  apps/raycast/src/projects.tsx
  apps/raycast/src/recent.tsx
  apps/raycast/src/search.tsx
  apps/raycast/src/tasks.tsx
  apps/raycast/src/templates.tsx
  apps/raycast/tsconfig.json
  bun.lock
Due: lint, typecheck

feat: add slash commands, draft persistence, and scroll improvements
  apps/cli/package.json
  apps/cli/src/components/ChatInput.tsx
  apps/cli/src/components/ChatView.tsx
  apps/cli/src/lib/config.ts
  apps/cli/tsconfig.json
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/components/chat/ComparisonModelPicker.tsx
  apps/mobile/components/chat/MessageList.tsx
  apps/mobile/components/chat/SlashCommandMenu.tsx
  apps/mobile/components/chat/TemplatePicker.tsx
  apps/mobile/components/chat/ThinkingEffortPicker.tsx
  apps/mobile/components/chat/ToolCallList.tsx
  apps/mobile/components/chat/index.ts
  apps/mobile/lib/chat/drafts.ts
  apps/mobile/lib/hooks/index.ts
  apps/mobile/lib/hooks/useTemplates.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/web/package.json
  apps/web/src/app/(main)/chat/[conversationId]/page.tsx
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ChatInputSlashMenu.tsx
  apps/web/src/components/chat/InputBottomBar.tsx
  apps/web/src/components/chat/ThinkingEffortSelector.tsx
  apps/web/src/components/chat/ToolCallDisplay.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useScrollAnchor.ts
  apps/web/src/hooks/useScrollIntent.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
Due: lint, typecheck

feat: add chat-ui-core shared package for slash commands and draft persistence
  packages/chat-ui-core/package.json
  packages/chat-ui-core/src/commands.test.ts
  packages/chat-ui-core/src/commands.ts
  packages/chat-ui-core/src/drafts.test.ts
  packages/chat-ui-core/src/drafts.ts
  packages/chat-ui-core/src/index.ts
  packages/chat-ui-core/tsconfig.json
  packages/chat-ui-core/vitest.config.ts
Due: lint, typecheck

fix: add trailing newlines to iOS asset JSON files
  apps/cli/src/components/ChatInput.tsx
  apps/cli/src/lib/config.ts
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/components/chat/ComparisonModelPicker.tsx
  apps/mobile/components/chat/MessageList.tsx
  apps/mobile/components/chat/TemplatePicker.tsx
  apps/web/src/app/(main)/chat/[conversationId]/page.tsx
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ThinkingEffortSelector.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  packages/chat-ui-core/src/commands.ts
  packages/chat-ui-core/src/drafts.ts
Due: lint, typecheck

fix: address second round of PR review feedback
  apps/cli/src/components/ChatView.tsx
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/components/chat/ComparisonModelPicker.tsx
  apps/mobile/components/chat/ThinkingEffortPicker.tsx
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/cli/CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

fix: fix dependabot auto-merge pipeline
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-lockfile.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
