Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

fix: harden tool name collision handling
  packages/backend/convex/generation/tools.ts
  packages/backend/convex/lib/toolNames.ts
  packages/backend/convex/lib/utils/__tests__/toolNames.test.ts
Due: lint, typecheck

docs: add desktop release install steps
  apps/desktop/README.md
Due: none

fix: enforce tool name limits at generation preflight
  packages/backend/convex/generation.ts
  packages/backend/convex/lib/toolNames.ts
  packages/backend/convex/lib/utils/__tests__/toolNames.test.ts
Due: lint, typecheck

fix: add outbound tool-name diagnostics on generation failures
  packages/backend/convex/generation.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: lint

chore: release main (#297)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: lint

ci: harden release-please automation diagnostics
  .github/workflows/release-please-auto-merge.yml
  .github/workflows/release-please.yml
Due: none

fix: harden desktop release checks and docs
  .github/workflows/release-desktop.yml
  apps/desktop/README.md
  docs/guides/desktop-release-automation.md
Due: none

bd sync: 2026-02-08 04:15:23
  .beads/issues.jsonl
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

fix: prevent stale autorelease pending labels
  .github/workflows/release-please-auto-merge.yml
  .github/workflows/release-please.yml
Due: none

fix: require Developer ID cert for desktop release
  .github/workflows/release-desktop.yml
  apps/desktop/README.md
  docs/guides/desktop-release-automation.md
Due: none

fix: retry desktop notarization
  .github/workflows/release-desktop.yml
Due: none

fix: timeout+retry desktop notarization
  .github/workflows/release-desktop.yml
Due: none

fix: notarize dmg via notarytool
  .github/workflows/release-desktop.yml
Due: none

fix: publish dmg even if notarization fails
  .github/workflows/release-desktop.yml
Due: none

fix: upload desktop assets even if notarization flakes
  .github/workflows/release-desktop.yml
Due: none

fix: make release asset upload bash3 compatible
  .github/workflows/release-desktop.yml
Due: none

fix: handle immutable GitHub releases for desktop
  .github/workflows/release-desktop.yml
Due: none

fix: make desktop releases draft until artifacts uploaded
  .github/workflows/release-desktop.yml
  .release-please-config.json
Due: lint

chore: align desktop manifest with published tag
  .release-please-manifest.json
Due: lint

fix: publish desktop releases with DMG (immutable releases) (#304)
  .github/workflows/release-desktop.yml
  .release-please-config.json
  .release-please-manifest.json
Due: lint

chore: bump desktop manifest to 0.2.4
  .release-please-manifest.json
Due: lint

fix: async desktop notarization without wait
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
Due: none

fix: async desktop notarization finalize (#307)
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
Due: none

fix: avoid waiting for desktop notarization
  .github/workflows/release-desktop.yml
  apps/desktop/README.md
  docs/guides/desktop-release-automation.md
Due: none
