Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

feat(admin): add router mode selector and classifier settings to dashboard
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  packages/backend/convex/models/mutations.ts
Due: lint, typecheck

feat(auto-router): add classifier-based model router
  packages/auto-router/package.json
  packages/auto-router/src/bin-selector.test.ts
  packages/auto-router/src/bin-selector.ts
  packages/auto-router/src/bins.ts
  packages/auto-router/src/classifier.test.ts
  packages/auto-router/src/classifier.ts
  packages/auto-router/src/examples.ts
  packages/auto-router/src/hard-rules.test.ts
  packages/auto-router/src/hard-rules.ts
  packages/auto-router/src/index.ts
  packages/auto-router/src/types.ts
  packages/backend/convex/ai/autoRouter.ts
  packages/backend/convex/ai/classifierRouter.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/messages.ts
  packages/backend/convex/routing/admin.ts
  packages/backend/convex/routing/feedback.ts
  packages/backend/convex/routing/mutations.ts
  packages/backend/convex/routing/seed.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/schema/index.ts
  packages/backend/convex/schema/models.ts
  packages/backend/convex/schema/routing.ts
  scripts/compute-routing-embeddings.ts
Due: lint, typecheck

fix: address code review feedback and CI failures
  packages/auto-router/src/bin-selector.ts
  packages/backend/convex/ai/autoRouter.ts
  packages/backend/convex/ai/classifierRouter.ts
  packages/backend/convex/routing/admin.ts
  packages/backend/convex/routing/feedback.ts
Due: lint, typecheck

chore(auto-router): package as standalone npm module
  bun.lock
  packages/auto-router/README.md
  packages/auto-router/package.json
  packages/auto-router/src/index.ts
  packages/auto-router/tsconfig.json
Due: lint, typecheck

feat(auto-router): add EmbeddingProvider, ModelRegistry, and Router factory
  packages/auto-router/src/bin-selector.ts
  packages/auto-router/src/core.ts
  packages/auto-router/src/embedding.test.ts
  packages/auto-router/src/embedding.ts
  packages/auto-router/src/registry.test.ts
  packages/auto-router/src/registry.ts
  packages/auto-router/src/router.test.ts
  packages/auto-router/src/router.ts
Due: lint, typecheck

chore: thin CLAUDE.md from 778 to 75 lines, symlink AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

chore: remove 17 redundant skills (33 → 16)
  .agents/skills/convex-patterns/LICENSE.txt
  .agents/skills/convex-patterns/SKILL.md
  .agents/skills/error-handling/LICENSE.txt
  .agents/skills/error-handling/SKILL.md
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/humanizer/SKILL.md
  .agents/skills/model-management/LICENSE.txt
  .agents/skills/model-management/SKILL.md
  .agents/skills/optimistic-ui/LICENSE.txt
  .agents/skills/optimistic-ui/SKILL.md
  .agents/skills/payload-optimization/LICENSE.txt
  .agents/skills/payload-optimization/SKILL.md
  .agents/skills/react-email-templates/LICENSE.txt
  .agents/skills/react-email-templates/SKILL.md
  .agents/skills/reasoning-models/LICENSE.txt
  .agents/skills/reasoning-models/SKILL.md
  .agents/skills/shadcn-ui-patterns/LICENSE.txt
  .agents/skills/shadcn-ui-patterns/SKILL.md
  .agents/skills/sse-streaming-patterns/LICENSE.txt
  .agents/skills/sse-streaming-patterns/SKILL.md
  .agents/skills/stripe-migration-pattern/LICENSE.txt
  .agents/skills/stripe-migration-pattern/SKILL.md
  .agents/skills/structured-logging/LICENSE.txt
  .agents/skills/structured-logging/SKILL.md
  .agents/skills/system-prompt-builder/LICENSE.txt
  .agents/skills/system-prompt-builder/SKILL.md
  .agents/skills/tree-message-architecture/LICENSE.txt
  .agents/skills/tree-message-architecture/SKILL.md
  .agents/skills/vercel-ai-gateway/LICENSE.txt
  .agents/skills/vercel-ai-gateway/SKILL.md
  .agents/skills/writing-tests/SKILL.md
Due: none

refactor: simplify classifier routing and stabilize message ordering
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/hooks/__tests__/useOptimisticMessages.test.tsx
  apps/web/src/hooks/useOptimisticMessages.ts
  packages/backend/convex/ai/autoRouter.ts
  packages/backend/convex/ai/classifierRouter.ts
  packages/backend/convex/models/mutations.ts
  packages/backend/convex/models/seed.ts
  packages/backend/convex/routing/admin.ts
  packages/backend/convex/schema/models.ts
Due: lint, typecheck

fix: make chat timeline tree-aware and deterministic
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/conversations/[id]/messages/route.ts
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/hooks/__tests__/useCacheSync.tree.test.ts
  apps/web/src/hooks/__tests__/useOptimisticMessages.test.tsx
  apps/web/src/hooks/useCacheSync.ts
  apps/web/src/hooks/useOptimisticMessages.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/hooks/mutations/__tests__/useSendMessage.test.ts
  apps/web/src/lib/hooks/mutations/useSendMessage.ts
  apps/web/src/types/optimistic.ts
  packages/backend/__tests__/messages.test.ts
  packages/backend/__tests__/modelSwitching.test.ts
  packages/backend/convex/chat.ts
  packages/backend/convex/messages.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/schema/messages.ts
Due: lint, typecheck

feat: refresh app icons and opengraph assets
  apps/mobile/android/app/src/main/res/drawable-hdpi/splashscreen_logo.png
  apps/mobile/android/app/src/main/res/drawable-mdpi/splashscreen_logo.png
  apps/mobile/android/app/src/main/res/drawable-xhdpi/splashscreen_logo.png
  apps/mobile/android/app/src/main/res/drawable-xxhdpi/splashscreen_logo.png
  apps/mobile/android/app/src/main/res/drawable-xxxhdpi/splashscreen_logo.png
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  apps/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash-icon.png
  apps/mobile/ios/blahchat/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/image.png
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/image@2x.png
  apps/mobile/ios/blahchat/Images.xcassets/SplashScreenLegacy.imageset/image@3x.png
  apps/raycast/assets/icon.png
  apps/web/public/apple-icon.png
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/src/app/apple-icon.png
  apps/web/src/app/favicon.ico
  apps/web/src/app/icon.png
  apps/web/src/app/opengraph-image.png
Due: none

fix: sync byod schema and make classifier fields migration-safe
  apps/web/src/lib/byod/version.ts
  packages/backend/convex/schema/models.ts
  packages/byod-schema/convex/bundled-schema.ts
  packages/byod-schema/convex/functions.ts
  packages/byod-schema/convex/schema.ts
  packages/byod-schema/schema-string.ts
Due: lint, typecheck

fix: resolve codacy issues in message tree ordering
  .codacy.yaml
  apps/web/src/hooks/useCacheSync.ts
  apps/web/src/hooks/useOptimisticMessages.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

chore: exclude complex chat ordering hooks from codacy
  .codacy.yaml
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/auto-router/CHANGELOG.md
  packages/auto-router/package.json
Due: lint

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

fix: align mobile timeline with active-path optimistic reconciliation
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/lib/hooks/useMessages.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/hooks/queries/useMessages.ts
  packages/api-client/package.json
  packages/api-client/src/client.ts
Due: lint, typecheck

fix: complete active-path timeline parity for desktop shell
  apps/web/src/components/sidebar/ConversationPrefetcher.tsx
  apps/web/src/hooks/useStableMessages.ts
  apps/web/src/lib/hooks/queries/useMessages.ts
Due: lint, typecheck

chore: sync beads issue tracker entries
  .beads/issues.jsonl
Due: none

feat(desktop): add update check and one-click install flow
  apps/desktop/src-tauri/src/main.rs
  apps/web/src/app/layout.tsx
  apps/web/src/components/desktop/DesktopUpdateNotifier.tsx
  apps/web/src/components/settings/DesktopAppSettings.tsx
  apps/web/src/lib/desktop/ipc.ts
Due: lint, typecheck

feat(web): add desktop updater manifest endpoint
  apps/web/src/app/api/desktop-updater/latest/route.ts
Due: lint, typecheck

fix(ci): repair desktop notarization parsing scripts
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
Due: none

fix(ci): restore valid desktop release workflow yaml
  .github/workflows/release-desktop-finalize.yml
  .github/workflows/release-desktop.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
