Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

feat(chat): integrate StatusTimeline in AI messages
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/ToolCallDisplay.tsx
Due: lint, typecheck

refactor(chat): extract tool utilities to shared module
  apps/web/src/components/chat/toolCallUtils.ts
Due: lint, typecheck

feat(chat): add StatusTimeline for tool execution progress
  apps/web/src/components/chat/StatusTimeline.tsx
Due: lint, typecheck

fix(chat): graceful StatusTimeline exit animation and aria-busy string
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/StatusTimeline.tsx
Due: lint, typecheck

bd sync: 2026-01-18 22:20:50
  .beads/issues.jsonl
Due: none

docs: mark P4 status timeline as complete
  docs/openwebui/issues/P4-streaming/02-status-timeline.md
Due: none

feat(chat): enhance typing indicator with model name
  apps/web/src/app/globals.css
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageLoadingState.tsx
Due: lint, typecheck

docs: mark P5 typing indicator as complete
  .beads/issues.jsonl
  docs/openwebui/issues/P5-microinteractions/01-typing-indicator.md
Due: none

feat(chat): add useHoverIntent hook for delayed hover states
  apps/web/src/hooks/useHoverIntent.ts
Due: lint, typecheck

test(chat): useHoverIntent hook tests
  apps/web/src/hooks/__tests__/useHoverIntent.test.ts
Due: lint, typecheck

feat(chat): apply hover delay to message action menus
  apps/web/src/components/chat/ChatMessage.tsx
Due: lint, typecheck

chore(main): release 1.3.0
  CHANGELOG.md
  package.json
Due: lint

docs: mark P5 hover delays as complete
  docs/openwebui/issues/P5-microinteractions/02-hover-delays.md
Due: none

feat(backend): add hapticFeedbackEnabled preference
  packages/backend/convex/users/constants.ts
Due: lint, typecheck

feat(lib): add haptic feedback utility
  apps/web/src/lib/haptic.ts
Due: lint, typecheck

feat(hooks): add useHaptic hook
  apps/web/src/hooks/useHaptic.ts
Due: lint, typecheck

feat(settings): wire hapticFeedbackEnabled to settings state
  apps/web/src/hooks/useUISettingsState.ts
Due: lint, typecheck
