Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

fix: react-doctor phase 1 — Rules-of-Hooks bugs + dead code purge
  apps/mobile/components/chat/MathRenderer.tsx
  apps/mobile/components/chat/MermaidModal.tsx
  apps/mobile/components/chat/ReasoningBlock.tsx
  apps/mobile/components/chat/ToolCallItem.tsx
  apps/mobile/components/chat/ToolCallList.tsx
  apps/mobile/lib/utils/toolCalls.ts
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/app/(main)/search/page.tsx
  apps/web/src/components/chat/CodeBlock.tsx
  apps/web/src/components/chat/ModelBadge.tsx
  apps/web/src/components/chat/ModelDetailCard.tsx
  apps/web/src/components/chat/ShareDialog.tsx
  apps/web/src/components/settings/TTSSettings.tsx
  apps/web/src/components/ui/svgs/supabase.tsx
  apps/web/src/components/ui/svgs/supabaseWordmarkDark.tsx
  apps/web/src/components/ui/svgs/supabaseWordmarkLight.tsx
  apps/web/src/contexts/__tests__/SelectionContext.test.tsx
  apps/web/src/lib/ai/providers/anthropic.ts
  apps/web/src/lib/ai/providers/cerebras.ts
  apps/web/src/lib/ai/providers/gateway.ts
  apps/web/src/lib/ai/providers/google.ts
  apps/web/src/lib/ai/providers/groq.ts
  apps/web/src/lib/ai/providers/index.ts
  apps/web/src/lib/ai/providers/openai.ts
  apps/web/src/lib/ai/providers/openrouter.ts
  apps/web/src/lib/ai/reasoning/builder.ts
  apps/web/src/lib/ai/reasoning/handlers/anthropic.ts
  apps/web/src/lib/ai/reasoning/handlers/deepseek.ts
  apps/web/src/lib/ai/reasoning/handlers/google.ts
  apps/web/src/lib/ai/reasoning/handlers/openai.ts
  apps/web/src/lib/ai/reasoning/index.ts
  apps/web/src/lib/ai/reasoning/registry.ts
  apps/web/src/lib/ai/reasoning/types.ts
  data/portfolio.json
  packages/persistence-postgres/src/db.ts
  test-results/.last-run.json
Due: lint, typecheck

fix(a11y/perf): index keys, autoFocus, gradients, animations, defaults
  apps/web/src/app/(main)/admin/usage/page.tsx
  apps/web/src/app/(main)/search/page.tsx
  apps/web/src/app/(main)/shortcuts/page.tsx
  apps/web/src/app/desktop/quick/page.tsx
  apps/web/src/components/admin/feedback/FeedbackLoading.tsx
  apps/web/src/components/chat/BranchComparisonSheet.tsx
  apps/web/src/components/chat/ComparisonPanel.tsx
  apps/web/src/components/chat/ComparisonTrigger.tsx
  apps/web/src/components/chat/InlineToolCallContent.tsx
  apps/web/src/components/chat/MessageEditMode.tsx
  apps/web/src/components/chat/MessageListSkeleton.tsx
  apps/web/src/components/chat/QuickModelSwitcher.tsx
  apps/web/src/components/chat/toolRenderers/CodeExecutionRenderer.tsx
  apps/web/src/components/chat/toolRenderers/ProjectContextRenderer.tsx
  apps/web/src/components/chat/toolRenderers/QueryHistoryRenderer.tsx
  apps/web/src/components/chat/toolRenderers/SearchAllRenderer.tsx
  apps/web/src/components/chat/toolRenderers/SearchFilesRenderer.tsx
  apps/web/src/components/chat/toolRenderers/SearchKnowledgeBankRenderer.tsx
  apps/web/src/components/chat/toolRenderers/SearchMemoriesRenderer.tsx
  apps/web/src/components/chat/toolRenderers/SearchNotesRenderer.tsx
  apps/web/src/components/chat/toolRenderers/SearchTasksRenderer.tsx
  apps/web/src/components/chat/toolRenderers/TaskManagerRenderer.tsx
  apps/web/src/components/chat/toolRenderers/WebSearchRenderer.tsx
  apps/web/src/components/projects/ProjectsEmptyState.tsx
  apps/web/src/components/search/SearchBar.tsx
  apps/web/src/components/search/SearchResultSkeleton.tsx
  apps/web/src/components/settings/sections/DisplayLayoutSection.tsx
  apps/web/src/components/sidebar/ConversationList.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/usage/ActivityHeatmap.tsx
Due: lint, typecheck

fix: address Codacy lint round 2
  apps/web/src/app/(main)/app/AppPageClient.tsx
  apps/web/src/app/(main)/bookmarks/BookmarksPageClient.tsx
  apps/web/src/app/(main)/usage/UsagePageClient.tsx
  apps/web/src/app/(main)/usage/_components/ActionUsageSection.tsx
  apps/web/src/app/(main)/usage/_components/UsageChartsSection.tsx
  apps/web/src/app/desktop/quick/QuickPageClient.tsx
  apps/web/src/components/chat/toolRenderers/TaskManagerRenderer.tsx
  apps/web/src/components/settings/ComposioSettings.tsx
Due: lint, typecheck

feat(seo): convert client pages to server-component shells with metadata
  apps/web/src/app/(main)/app/AppPageClient.tsx
  apps/web/src/app/(main)/app/layout.tsx
  apps/web/src/app/(main)/app/page.tsx
  apps/web/src/app/(main)/bookmarks/BookmarksPageClient.tsx
  apps/web/src/app/(main)/bookmarks/layout.tsx
  apps/web/src/app/(main)/bookmarks/page.tsx
  apps/web/src/app/(main)/memories/layout.tsx
  apps/web/src/app/(main)/memories/page.tsx
  apps/web/src/app/(main)/projects/ProjectsPageClient.tsx
  apps/web/src/app/(main)/projects/[id]/conversations/ProjectConversationsPageClient.tsx
  apps/web/src/app/(main)/projects/[id]/conversations/layout.tsx
  apps/web/src/app/(main)/projects/[id]/conversations/page.tsx
  apps/web/src/app/(main)/projects/layout.tsx
  apps/web/src/app/(main)/projects/page.tsx
  apps/web/src/app/(main)/search/SearchPageClient.tsx
  apps/web/src/app/(main)/search/layout.tsx
  apps/web/src/app/(main)/search/page.tsx
  apps/web/src/app/(main)/shortcuts/ShortcutsPageClient.tsx
  apps/web/src/app/(main)/shortcuts/layout.tsx
  apps/web/src/app/(main)/shortcuts/page.tsx
  apps/web/src/app/(main)/templates/TemplatesPageClient.tsx
  apps/web/src/app/(main)/templates/layout.tsx
  apps/web/src/app/(main)/templates/page.tsx
  apps/web/src/app/(main)/usage/UsagePageClient.tsx
  apps/web/src/app/(main)/usage/layout.tsx
  apps/web/src/app/(main)/usage/page.tsx
  apps/web/src/app/LandingPageClient.tsx
  apps/web/src/app/cli-login/CLILoginPageClient.tsx
  apps/web/src/app/cli-login/layout.tsx
  apps/web/src/app/cli-login/page.tsx
  apps/web/src/app/desktop/quick/QuickPageClient.tsx
  apps/web/src/app/desktop/quick/layout.tsx
  apps/web/src/app/desktop/quick/page.tsx
  apps/web/src/app/page.tsx
Due: lint, typecheck

feat(seo): add per-route layout metadata for client-component pages
  apps/web/src/app/(main)/app/layout.tsx
  apps/web/src/app/(main)/bookmarks/layout.tsx
  apps/web/src/app/(main)/memories/layout.tsx
  apps/web/src/app/(main)/projects/[id]/conversations/layout.tsx
  apps/web/src/app/(main)/projects/layout.tsx
  apps/web/src/app/(main)/search/layout.tsx
  apps/web/src/app/(main)/shortcuts/layout.tsx
  apps/web/src/app/(main)/templates/layout.tsx
  apps/web/src/app/(main)/usage/layout.tsx
  apps/web/src/app/cli-login/layout.tsx
  apps/web/src/app/desktop/quick/layout.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

fix(desktop): strip stray [] placeholder from changelog bullet
  apps/desktop/CHANGELOG.md
Due: none

ci: fix Dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: release main
  .release-please-manifest.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

fix: stop release-please cascade and unblock desktop DMG build
  .release-please-config.json
  apps/desktop/src-tauri/icons/128x128.png
  apps/desktop/src-tauri/icons/128x128@2x.png
  apps/desktop/src-tauri/icons/32x32.png
  apps/desktop/src-tauri/icons/64x64.png
  apps/desktop/src-tauri/icons/Square107x107Logo.png
  apps/desktop/src-tauri/icons/Square142x142Logo.png
  apps/desktop/src-tauri/icons/Square150x150Logo.png
  apps/desktop/src-tauri/icons/Square284x284Logo.png
  apps/desktop/src-tauri/icons/Square30x30Logo.png
  apps/desktop/src-tauri/icons/Square310x310Logo.png
  apps/desktop/src-tauri/icons/Square44x44Logo.png
  apps/desktop/src-tauri/icons/Square71x71Logo.png
  apps/desktop/src-tauri/icons/Square89x89Logo.png
  apps/desktop/src-tauri/icons/StoreLogo.png
  apps/desktop/src-tauri/icons/icon.icns
  apps/desktop/src-tauri/icons/icon.ico
  apps/desktop/src-tauri/icons/icon.png
  apps/desktop/src-tauri/tauri.conf.json
  package.json
  scripts/prepare.mjs
Due: lint

ci: exclude release-please CHANGELOG.md files from Codacy
  .codacy.yaml
Due: none

fix(prepare): drop existsSync to satisfy Codacy security rule
  scripts/prepare.mjs
Due: lint

ci: scope CI to affected packages and cache turbo + bun
  .github/workflows/ci.yml
Due: none

ci: reuse existing VERCEL_TOKEN as TURBO_TOKEN
  .github/workflows/ci.yml
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

bd sync: 2026-05-05 05:16:12
  .beads/issues.jsonl
Due: none

bd sync: 2026-05-05 05:52:52
  .beads/issues.jsonl
Due: none

bd sync: 2026-05-05 06:12:04
  .beads/issues.jsonl
Due: none

chore: phase G wire-up sweep — clear 8 stale TODOs
  apps/web/src/app/(main)/admin/usage/page.tsx
  apps/web/src/app/api/v1/bible/verse/route.ts
  apps/web/src/app/cli-login/CLILoginPageClient.tsx
  apps/web/src/app/share/[shareId]/SharePageClient.tsx
  apps/web/src/components/chat/QuickModelSwitcher.tsx
  apps/web/src/components/chat/ShareDialog.tsx
  apps/web/src/components/chat/__tests__/ShareDialog.test.tsx
  apps/web/src/lib/persistence/userData.ts
  packages/api-client/package.json
  packages/api-client/src/types.ts
Due: lint, typecheck

feat: phase G admin settings + auto-router config (with runtime swap)
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/app/api/v1/__tests__/admin-config.test.ts
  apps/web/src/app/api/v1/admin/auto-router/config/route.ts
  apps/web/src/app/api/v1/admin/settings/route.ts
  apps/web/src/components/settings/admin/AdminLimitsSettings.tsx
  apps/web/src/components/settings/admin/AdminMemorySettings.tsx
  apps/web/src/components/settings/admin/AdminSearchSettings.tsx
  apps/web/src/components/settings/admin/AdminTranscriptProviderSettings.tsx
  apps/web/src/components/settings/admin/FeaturesSettings.tsx
  apps/web/src/lib/api/dal/adminSettings.ts
  apps/web/src/lib/api/dal/autoRouter.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/models/repository.ts
  apps/web/src/lib/persistence/adminSettings.ts
  apps/web/src/lib/persistence/autoRouter.ts
  packages/auto-router/src/router.ts
  packages/persistence-postgres/drizzle/0013_conversations_thinking_effort.sql
  packages/persistence-postgres/drizzle/0014_canvas_documents.sql
  packages/persistence-postgres/drizzle/0015_phase_g_admin_config.sql
  packages/persistence-postgres/src/defaults.ts
  packages/persistence-postgres/src/index.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

fix: consolidate hand-written migrations into drizzle-kit-generated 0013
  packages/persistence-postgres/drizzle/0013_bitter_hemingway.sql
  packages/persistence-postgres/drizzle/0013_conversations_thinking_effort.sql
  packages/persistence-postgres/drizzle/0014_canvas_documents.sql
  packages/persistence-postgres/drizzle/0015_phase_g_admin_config.sql
  packages/persistence-postgres/drizzle/meta/0013_snapshot.json
  packages/persistence-postgres/drizzle/meta/_journal.json
Due: lint

fix: add withAdminAuth + featureFlags prerequisites for PR 2 routes
  apps/web/src/lib/api/middleware/auth.ts
  apps/web/src/lib/featureFlags.ts
Due: lint, typecheck

fix: add featureFlags helper required by admin pages
  apps/web/src/lib/featureFlags.ts
  apps/web/src/lib/utils/deriveTokenUsage.ts
Due: lint, typecheck

fix: add thinking_effort to migration package's PGlite bootstrap
  packages/migration/src/test-helpers.ts
Due: lint, typecheck

fix: regenerate canvas history migration via drizzle-kit (idempotent)
  packages/persistence-postgres/drizzle/0014_burly_dreaming_celestial.sql
  packages/persistence-postgres/drizzle/0016_phase_g_canvas_history.sql
  packages/persistence-postgres/drizzle/meta/0014_snapshot.json
  packages/persistence-postgres/drizzle/meta/_journal.json
Due: lint

feat: phase G canvas revision history + conflict resolution
  apps/web/src/app/api/v1/__tests__/canvas-history.test.ts
  apps/web/src/app/api/v1/documents/[id]/history/route.ts
  apps/web/src/app/api/v1/documents/[id]/restore/route.ts
  apps/web/src/app/api/v1/documents/[id]/route.ts
  apps/web/src/components/canvas/CanvasEditor.tsx
  apps/web/src/components/canvas/CanvasPanel.tsx
  apps/web/src/components/canvas/CanvasToolbar.tsx
  apps/web/src/components/canvas/VersionHistoryPanel.tsx
  apps/web/src/hooks/__tests__/useCanvasHistory.test.ts
  apps/web/src/hooks/useCanvasHistory.ts
  apps/web/src/lib/api/dal/canvas.ts
  packages/persistence-postgres/drizzle/0016_phase_g_canvas_history.sql
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck
