Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

feat(auto-router): add high-stakes topic detection
  packages/backend/convex/ai/autoRouter.ts
  packages/backend/convex/ai/modelProfiles.ts
  packages/backend/convex/ai/routerPrompts.ts
Due: lint, typecheck

fix: make isHighStakes optional for backward compatibility
  packages/backend/convex/messages.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

fix: add high-stakes fields to routing decision validators
  packages/backend/convex/messages.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

fix: handle missing premium models for high-stakes queries
  packages/backend/convex/ai/autoRouter.ts
Due: lint, typecheck

chore(main): release 1.5.0
  CHANGELOG.md
  package.json
Due: lint

feat(ui): add compare button to MessageBranchIndicator
  apps/web/src/components/chat/MessageBranchIndicator.tsx
Due: lint, typecheck

feat(hooks): add useBranchComparison hook for branch state management
  apps/web/src/hooks/useBranchComparison.ts
  apps/web/src/lib/analytics.ts
Due: lint, typecheck

feat(ui): add BranchComparisonSheet for side-by-side version comparison
  apps/web/src/components/chat/BranchComparisonSheet.tsx
Due: lint, typecheck

chore(main): release 1.6.0
  CHANGELOG.md
  package.json
Due: lint

bd sync: 2026-01-20 12:37:16
  .beads/issues.jsonl
Due: none

docs: mark P7 branch comparison as complete
  docs/openwebui/issues/P7-architecture/03-branch-comparison.md
Due: none

feat(tree): add context, descendants, and subtree deactivation helpers
  packages/backend/convex/__tests__/tree.test.ts
  packages/backend/convex/lib/tree.ts
Due: lint, typecheck

fix(tree): ensure deactivateSubtree patches undefined isActiveBranch values
  packages/backend/convex/lib/tree.ts
Due: lint, typecheck

fix(tree): prevent duplicate IDs in BFS traversal for DAG with multi-parent nodes
  packages/backend/convex/lib/tree.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
