Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/streaming-core/CHANGELOG.md
  packages/streaming-core/package.json
Due: lint

chore(ci): switch Dependabot to bun ecosystem, drop lockfile workflow
  .github/dependabot.yml
  .github/workflows/dependabot-lockfile.yml
Due: none

fix(ui): include ackText in ChatMessage memo comparator
  apps/web/src/components/chat/ChatMessage.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: lint

feat: add notification chimes
  apps/web/src/app/(main)/MainLayoutClient.tsx
  apps/web/src/components/notifications/NotificationAudioBridge.tsx
  apps/web/src/components/notifications/__tests__/NotificationAudioBridge.test.tsx
  apps/web/src/components/notifications/index.ts
  apps/web/src/components/settings/UISettings.tsx
  apps/web/src/components/settings/sections/NotificationChimesSection.tsx
  apps/web/src/components/settings/sections/index.ts
  apps/web/src/hooks/__tests__/useNotificationChimes.test.ts
  apps/web/src/hooks/useNotificationChimes.ts
  apps/web/src/hooks/useUISettingsState.ts
  apps/web/src/lib/analytics.ts
  apps/web/src/lib/audio/__tests__/notificationChimes.test.ts
  apps/web/src/lib/audio/notificationChimes.ts
  apps/web/src/lib/generation-v2/__tests__/composioTools.test.ts
  apps/web/src/lib/generation-v2/composioTools.ts
  apps/web/src/lib/hooks/mutations/__tests__/useArchiveConversation.test.ts
  apps/web/src/lib/hooks/mutations/__tests__/useSendMessage.test.ts
  apps/web/src/lib/hooks/mutations/useArchiveConversation.ts
  apps/web/src/lib/hooks/mutations/useSendMessage.ts
  apps/web/vitest.config.ts
  packages/persistence-postgres/src/schema.ts
  packages/shared/src/preferences.ts
Due: lint, typecheck

Update apps/web/src/lib/audio/notificationChimes.ts
  apps/web/src/lib/audio/notificationChimes.ts
Due: lint, typecheck

fix: harden notification chimes
  apps/web/src/app/(main)/MainLayoutClient.tsx
  apps/web/src/components/notifications/NotificationAudioBridge.tsx
  apps/web/src/components/notifications/__tests__/NotificationAudioBridge.test.tsx
  apps/web/src/hooks/useUISettingsState.ts
  apps/web/src/lib/audio/notificationChimes.ts
  apps/web/src/lib/generation-v2/__tests__/composioTools.test.ts
  apps/web/src/lib/generation-v2/composioTools.ts
Due: lint, typecheck

fix: repair shared vitest aliases
  apps/web/vitest.config.ts
Due: lint, typecheck

fix: reduce notification bridge complexity
  apps/web/src/components/notifications/NotificationAudioBridge.tsx
Due: lint, typecheck

chore(web)(deps): bump svix from 1.90.0 to 1.93.0 in /apps/web
  apps/web/package.json
  bun.lock
Due: lint

chore(web)(deps): bump dompurify from 3.3.1 to 3.4.5 in /apps/web
  apps/web/package.json
  bun.lock
Due: lint

ci: bump actions/cache from 4 to 5
  .github/workflows/ci.yml
Due: none

chore(web)(deps): bump diff from 8.0.3 to 9.0.0 in /apps/web
  apps/web/package.json
  bun.lock
Due: lint

chore(web)(deps): bump drizzle-orm from 0.44.7 to 0.45.2 in /apps/web
  apps/web/package.json
  bun.lock
Due: lint

fix: align drizzle workspace versions
  apps/web/src/app/api/v1/admin/usage/user-count/route.ts
  bun.lock
  packages/jobs/package.json
  packages/migration/package.json
  packages/persistence-postgres/package.json
Due: lint, typecheck

chore(web)(deps): bump the patch-updates group across 1 directory with 23 updates
  apps/web/package.json
  bun.lock
Due: lint

fix: stabilize web patch dependency update
  apps/web/src/lib/generation-v2/__tests__/store.test.ts
  bun.lock
  package.json
Due: lint, typecheck

ci: repair dependabot auto-merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy-trigger.yml
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: lint

ci: align trigger dev cli version
  .github/workflows/deploy-trigger.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
