Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(mobile): check typeof for optimistic ID detection
  apps/mobile/components/chat/SiblingNavigator.tsx
Due: lint, typecheck

feat(mobile): integrate branch navigation into message components
  apps/mobile/components/chat/MessageBubble.tsx
  apps/mobile/components/chat/MessageList.tsx
Due: lint, typecheck

feat(mobile): add branch navigation UI components
  apps/mobile/components/chat/EditMessageModal.tsx
  apps/mobile/components/chat/MessageActionSheet.tsx
  apps/mobile/components/chat/SiblingNavigator.tsx
  apps/mobile/components/chat/index.ts
Due: lint, typecheck

fix(backend): query children by both parentMessageIds and parentMessageId
  packages/backend/convex/chat.ts
Due: lint, typecheck

fix(backend): deactivate descendants when editing message
  packages/backend/convex/chat.ts
Due: lint, typecheck

feat(mobile): filter messages by active branch
  apps/mobile/lib/hooks/index.ts
  apps/mobile/lib/hooks/useMessages.ts
Due: lint, typecheck

chore(mobile): configure EAS build profiles and OTA updates
  .easignore
  apps/mobile/.easignore
  apps/mobile/.gitignore
  apps/mobile/android/.gitignore
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/ios/blahchat/Supporting/Expo.plist
Due: lint

perf(mobile): optimize chat rendering and message deduplication
  apps/mobile/app/(app)/chat/[id].tsx
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/components/chat/MarkdownContent.tsx
  apps/mobile/components/chat/MessageList.tsx
  apps/mobile/components/chat/index.ts
Due: lint, typecheck

feat(mobile): add drawer navigation with conversation search and project filtering
  apps/mobile/app/(drawer)/_layout.tsx
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/app/(drawer)/index.tsx
  apps/mobile/components/drawer/DrawerContent.tsx
  apps/mobile/components/drawer/ProjectFilterSheet.tsx
  apps/mobile/lib/hooks/index.ts
  apps/mobile/lib/hooks/useConversationSearch.ts
  apps/mobile/lib/hooks/useConversations.ts
  apps/mobile/lib/hooks/useProjects.ts
  apps/mobile/package.json
  bun.lock
Due: lint, typecheck

refactor(mobile): update navigation routes to use drawer layout
  apps/mobile/app/(auth)/sign-in.tsx
  apps/mobile/app/(auth)/sign-up.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/app/index.tsx
  apps/mobile/components/auth/SocialAuthButtons.tsx
Due: lint, typecheck

feat(mobile): add hooks for bookmarks and notes
  apps/mobile/lib/hooks/index.ts
  apps/mobile/lib/hooks/useBookmarks.ts
  apps/mobile/lib/hooks/useNotes.ts
Due: lint, typecheck

feat(mobile): add notes UI components
  apps/mobile/components/notes/EmptyNotes.tsx
  apps/mobile/components/notes/NoteFilterSheet.tsx
  apps/mobile/components/notes/NoteListItem.tsx
  apps/mobile/components/notes/NoteMenuSheet.tsx
  apps/mobile/components/notes/NoteShareSheet.tsx
  apps/mobile/components/notes/TagInput.tsx
  apps/mobile/components/notes/index.ts
Due: lint, typecheck

feat(mobile): add notes screens with auto-tag and sharing
  apps/mobile/app/(drawer)/notes/[id].tsx
  apps/mobile/app/(drawer)/notes/_layout.tsx
  apps/mobile/app/(drawer)/notes/index.tsx
Due: lint, typecheck

feat(mobile): add bookmark and save-as-note actions to messages
  apps/mobile/components/chat/BookmarkSheet.tsx
  apps/mobile/components/chat/MessageActionSheet.tsx
  apps/mobile/components/chat/SaveAsNoteSheet.tsx
Due: lint, typecheck

feat(mobile): add notes navigation to drawer
  apps/mobile/app/(drawer)/_layout.tsx
  apps/mobile/app/(drawer)/index.tsx
  apps/mobile/components/drawer/DrawerContent.tsx
Due: lint, typecheck

fix(mobile): use RNGH TouchableOpacity for drawer gesture compatibility
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/components/chat/MessageBubble.tsx
Due: lint, typecheck

chore(mobile): add tentap-editor dependency
  apps/mobile/package.json
  bun.lock
Due: lint

fix(mobile): save as note sheet not opening
  apps/mobile/components/chat/MessageActionSheet.tsx
  apps/mobile/components/chat/SaveAsNoteSheet.tsx
Due: lint, typecheck

chore: add .easignore to exclude large files from EAS builds
  .easignore
Due: none

fix: configure EAS to use bun install
  apps/mobile/eas.json
Due: lint

fix: remove invalid install config from eas.json
  apps/mobile/eas.json
Due: lint

fix(mobile): include bun.lock in EAS builds for package manager detection
  .easignore
Due: none

fix(mobile): add empty bun.lockb for EAS package manager detection
  bun.lockb
Due: none

fix(mobile): add eas-build-pre-install hook for bun detection
  apps/mobile/.easignore
  package.json
Due: lint

fix(backend): move native deps to optionalDependencies for mobile builds
  bun.lock
  packages/backend/package.json
Due: lint

chore(main): release 1.18.0
  CHANGELOG.md
  package.json
Due: lint

fix(mobile): regenerate bun.lock for EAS frozen lockfile
  bun.lock
Due: none

fix(mobile): sync bun version to 1.3.5 across all configs
  apps/mobile/eas.json
  package.json
Due: lint

fix(mobile): delete lockfile in pre-install to bypass frozen-lockfile
  package.json
Due: lint

fix(mobile): add eas-build-pre-install to mobile package.json
  apps/mobile/package.json
Due: lint

Fix failing eas build
  apps/mobile/lib/bible/parser.ts
Due: lint, typecheck

Guard Convex client in web routes
  apps/web/src/app/api/export/route.ts
  apps/web/src/app/api/webhooks/clerk/route.ts
Due: lint, typecheck

Use type-only Convex imports
  apps/web/src/app/api/export/route.ts
  apps/web/src/app/api/webhooks/clerk/route.ts
Due: lint, typecheck

Add Convex URL fallback for builds
  apps/web/src/components/providers/convex-clerk-provider.tsx
Due: lint, typecheck

Fallback Clerk publishable key for builds
  apps/web/src/components/providers/convex-clerk-provider.tsx
Due: lint, typecheck

Force dynamic rendering for main layout
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/components/providers/convex-clerk-provider.tsx
Due: lint, typecheck

Force dynamic rendering at root layout
  apps/web/src/app/layout.tsx
Due: lint, typecheck

Avoid localhost Convex fallback
  apps/web/src/components/providers/convex-clerk-provider.tsx
Due: lint, typecheck

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
