Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

feat(chat): display sticky routing indicator in message stats
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageStatsBadges.tsx
Due: lint, typecheck

feat(generation): propagate isSticky field through generation pipeline
  packages/backend/convex/generation.ts
  packages/backend/convex/messages.ts
Due: lint, typecheck

feat(auto-router): build dynamic classification prompt with previous model context
  packages/backend/convex/ai/routerPrompts.ts
Due: lint, typecheck

feat(auto-router): add sticky routing fields to classification schema
  packages/backend/convex/ai/modelProfiles.ts
  packages/backend/convex/schema.ts
Due: lint, typecheck

chore(main): release 1.11.0
  CHANGELOG.md
  package.json
Due: lint

feat(models): add database-backed model management
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/repository.ts
  apps/web/src/lib/models/transforms.ts
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/models/mutations.ts
  packages/backend/convex/models/queries.ts
  packages/backend/convex/models/seed.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/schema/index.ts
  packages/backend/convex/schema/models.ts
Due: lint, typecheck

feat(admin): add models and auto-router admin UI
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/app/(main)/admin/models/[id]/page.tsx
  apps/web/src/app/(main)/admin/models/page.tsx
  apps/web/src/components/sidebar/admin-sidebar.tsx
  packages/backend/convex/models/queries.ts
Due: lint, typecheck

fix(admin): address code review feedback
  apps/web/src/app/(main)/admin/auto-router/page.tsx
  apps/web/src/app/(main)/admin/models/[id]/page.tsx
Due: lint, typecheck

docs: add model seeding instructions for self-hosting
  CONTRIBUTING.md
  README.md
  SELF_HOSTING.md
Due: none

fix(admin): replace native confirm() with AlertDialog
  apps/web/src/app/(main)/admin/models/page.tsx
Due: lint, typecheck

docs: add rule against native browser dialogs
  CLAUDE.md
Due: none

fix(security): add admin authorization to admin-only model queries
  packages/backend/convex/models/queries.ts
Due: lint, typecheck

fix(security): add input validation for model IDs
  packages/backend/convex/models/mutations.ts
Due: lint, typecheck

fix(models): fallback to static config when DB is empty
  apps/web/src/lib/models/repository.ts
Due: lint, typecheck

fix(admin): replace native dialogs with shadcn components
  apps/web/src/app/(main)/admin/models/[id]/page.tsx
  apps/web/src/app/(main)/admin/models/page.tsx
Due: lint, typecheck

fix(models): cascade delete profiles and safe JSON parsing
  apps/web/src/lib/models/transforms.ts
  packages/backend/convex/models/mutations.ts
Due: lint, typecheck

docs(models): update implementation plan with completed phases
  docs/models/README.md
  docs/models/phase-1-schema.md
  docs/models/phase-2-repository.md
  docs/models/phase-3-admin-ui.md
  docs/models/phase-4-rollout.md
  docs/models/phase-5-cleanup.md
  docs/models/phase-6-optimization.md
  docs/models/phase-7-autorouter-admin-ui.md
  docs/models/phase-8-autorouter-integration.md
Due: none

chore: add project-specific skills for codebase patterns
  .claude/skills/auto-router-patterns/LICENSE.txt
  .claude/skills/auto-router-patterns/SKILL.md
  .claude/skills/budget-tracker-patterns/LICENSE.txt
  .claude/skills/budget-tracker-patterns/SKILL.md
  .claude/skills/incognito-mode-patterns/LICENSE.txt
  .claude/skills/incognito-mode-patterns/SKILL.md
  .claude/skills/message-consolidation/LICENSE.txt
  .claude/skills/message-consolidation/SKILL.md
  .claude/skills/sse-streaming-patterns/LICENSE.txt
  .claude/skills/sse-streaming-patterns/SKILL.md
  .claude/skills/system-prompt-builder/LICENSE.txt
  .claude/skills/system-prompt-builder/SKILL.md
  .claude/skills/tree-message-architecture/LICENSE.txt
  .claude/skills/tree-message-architecture/SKILL.md
Due: none

chore: add .agent/skills symlink to .claude/skills
  .agent/skills
Due: none

fix(router): improve high-stakes topic detection for medical advice
  packages/backend/convex/ai/routerPrompts.ts
Due: lint, typecheck

fix(chat): prevent toolbar buttons from triggering form submission
  apps/web/src/components/chat/KeyboardHints.tsx
  apps/web/src/components/chat/QuickModelSwitcher.tsx
Due: lint, typecheck

chore(main): release 1.12.0
  CHANGELOG.md
  package.json
Due: lint

fix(generation): calculate TPS using pure API wait time
  packages/backend/convex/generation.ts
Due: lint, typecheck

fix(generation): include tool-call chunks in TPS wait time
  packages/backend/convex/generation.ts
Due: lint, typecheck
