Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

test: add E2E generation failure tests
  apps/web/e2e/generation-failures.spec.ts
Due: lint, typecheck

feat: [] wire regeneration signal into routing feedback
  apps/web/src/lib/api/dal/messages.ts
Due: lint, typecheck

feat: instrument GenerationV2Service with MetricsCollector
  apps/web/src/lib/generation-v2/service.ts
Due: lint, typecheck

ci: [] remove Convex from CI/CD pipelines and update lockfile
  .github/workflows/ci.yml
  .github/workflows/deploy-trigger.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
  bun.lock
  package.json
Due: lint

feat: phase 15 phase I - remove Convex from client request path
  apps/web/src/app/api/export/route.ts
  apps/web/src/components/providers/convex-clerk-provider.tsx
  apps/web/src/hooks/useStableMessages.ts
Due: lint, typecheck

feat: [] add usage tracking to generation provider
  apps/web/src/lib/generation-v2/provider.ts
  apps/web/src/lib/generation-v2/types.ts
Due: lint, typecheck

fix: [] fix web test infrastructure and P1 review comments
  apps/mobile/lib/chat/conversationCache.ts
  apps/web/src/app/(main)/admin/byod/page.tsx
  apps/web/src/app/(main)/admin/users/[userId]/page.tsx
  apps/web/src/app/api/v1/__tests__/health.test.ts
  apps/web/src/app/api/v1/__tests__/notes-sharing.auth.test.ts
  apps/web/src/app/api/v1/__tests__/notes-tasks.auth.test.ts
  apps/web/src/app/api/v1/__tests__/project-notes-tasks.auth.test.ts
  apps/web/src/components/chat/__tests__/BookmarkButton.test.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/components/chat/__tests__/ChatMessage.test.tsx
  apps/web/src/components/chat/__tests__/MessageNotesIndicator.test.tsx
  apps/web/src/components/chat/__tests__/QuickModelSwitcher.test.tsx
  apps/web/src/components/chat/__tests__/ShareDialog.test.tsx
  apps/web/src/hooks/__tests__/useCanvasHistory.test.ts
  apps/web/src/hooks/__tests__/useNotes.test.tsx
  apps/web/src/hooks/__tests__/useProjectNotes.test.tsx
  apps/web/src/hooks/__tests__/useProjectTasks.test.tsx
  apps/web/src/hooks/__tests__/useStarterSuggestions.test.tsx
  apps/web/src/hooks/__tests__/useTasks.test.tsx
  apps/web/src/lib/ai/__tests__/utils.test.ts
  apps/web/src/lib/persistence/conversationIntegrations.test.ts
  apps/web/src/lib/test/render-helpers.tsx
Due: lint, typecheck

docs: [] mark Phase 11 search embeddings memory complete
  docs/architecture/postgres-rewrite/11-search-embeddings-memory.md
Due: none

feat: [] cut cli chat to generation-v2
  apps/cli/src/components/ChatView.tsx
  apps/cli/src/hooks/useMessages.ts
  apps/cli/src/lib/mutations.ts
  apps/cli/src/lib/queries.ts
  apps/web/src/app/api/v1/__tests__/cli-chat.auth.test.ts
  apps/web/src/app/api/v1/cli/conversations/[id]/active-generation/route.ts
  apps/web/src/app/api/v1/cli/conversations/[id]/messages/route.ts
  apps/web/src/app/api/v1/cli/generations/[requestId]/stream/route.ts
  apps/web/src/lib/api/dal/cliChat.ts
  apps/web/src/lib/api/middleware/apiKeyAuth.ts
  apps/web/src/lib/persistence/current-user.ts
  packages/api-client/package.json
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/backend/convex/cliAuth.ts
Due: lint, typecheck

feat: migrate comparison flows
  apps/web/src/app/api/v1/__tests__/comparisons.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/comparisons/[comparisonGroupId]/consolidate/route.ts
  apps/web/src/app/api/v1/comparisons/[comparisonGroupId]/vote/route.ts
  apps/web/src/app/api/v1/messages/[id]/original-responses/route.ts
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/ComparisonPanel.tsx
  apps/web/src/components/chat/ComparisonView.tsx
  apps/web/src/components/chat/ConsolidateDialog.tsx
  apps/web/src/components/chat/MessageConsolidationToggle.tsx
  apps/web/src/hooks/__tests__/useComparisonHandlers.test.ts
  apps/web/src/hooks/useComparisonHandlers.ts
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/api/dal/comparisons.ts
  apps/web/src/lib/generation-v2/__tests__/service.test.ts
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
  apps/web/src/lib/persistence/mappers.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

fix: [] avoid type-depth in code execution tool
  packages/backend/convex/ai/tools/codeExecution.ts
  packages/backend/convex/generation/tools.ts
Due: lint, typecheck

fix: [] compute percentSaved from MODEL_CONFIG in analyze-model-fit test
  packages/jobs/src/trigger/analyze-model-fit.test.ts
Due: lint, typecheck

feat: [] add embed-message, embed-note, embed-task trigger jobs
  packages/jobs/src/trigger/embed-message.test.ts
  packages/jobs/src/trigger/embed-message.ts
  packages/jobs/src/trigger/embed-note.test.ts
  packages/jobs/src/trigger/embed-note.ts
  packages/jobs/src/trigger/embed-task.test.ts
  packages/jobs/src/trigger/embed-task.ts
Due: lint, typecheck

feat: [] extract policy engine scoring and data helpers
  packages/auto-router/src/policy-engine.test.ts
  packages/auto-router/src/policy-engine.ts
Due: lint, typecheck

refactor: [] extract prompts to shared package and rewire job imports
  packages/jobs/package.json
  packages/jobs/src/trigger/extract-memories.ts
  packages/jobs/src/trigger/extract-text.ts
  packages/jobs/src/trigger/generate-image.ts
  packages/jobs/src/trigger/generate-title.ts
  packages/shared/package.json
  packages/shared/src/prompts/document-extraction.ts
  packages/shared/src/prompts/image-generation.ts
  packages/shared/src/prompts/index.ts
  packages/shared/src/prompts/memory-extraction.ts
  packages/shared/src/prompts/title-generation.ts
  packages/shared/src/prompts/token-counting.ts
Due: lint, typecheck

feat(chat): add per-chat integration scope
  apps/web/package.json
  apps/web/src/app/(main)/chat/[conversationId]/ChatConversationPageClient.tsx
  apps/web/src/app/api/v1/__tests__/conversation-integration-events.test.ts
  apps/web/src/app/api/v1/__tests__/conversations.test.ts
  apps/web/src/app/api/v1/conversations/[id]/integration-events/route.ts
  apps/web/src/app/api/v1/conversations/[id]/route.ts
  apps/web/src/app/api/v1/conversations/route.ts
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/InputBottomBar.tsx
  apps/web/src/components/chat/IntegrationSelector.tsx
  apps/web/src/components/chat/IntegrationTimelineEvent.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useConversationIntegrationEvents.ts
  apps/web/src/hooks/useConversationIntegrationSelection.ts
  apps/web/src/hooks/useConversationResource.ts
  apps/web/src/hooks/useMessageGrouping.ts
  apps/web/src/hooks/useNewChat.ts
  apps/web/src/lib/api/dal/conversations.ts
  apps/web/src/lib/generation-v2/composioTools.ts
  apps/web/src/lib/generation-v2/provider.ts
  apps/web/src/lib/generation-v2/repository.ts
  apps/web/src/lib/generation-v2/service.ts
  apps/web/src/lib/generation-v2/types.ts
  apps/web/src/lib/persistence/conversationIntegrations.test.ts
  apps/web/src/lib/persistence/conversationIntegrations.ts
  apps/web/src/lib/persistence/mappers.ts
  bun.lock
  packages/api-client/package.json
  packages/api-client/src/types.ts
  packages/chat-ui-core/src/drafts.ts
  packages/persistence-postgres/drizzle/0011_gorgeous_bucky.sql
  packages/persistence-postgres/drizzle/meta/0011_snapshot.json
  packages/persistence-postgres/drizzle/meta/_journal.json
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

feat: [] add memory and extraction scheduled tasks
  packages/jobs/src/trigger/extract-inactive-conversations.test.ts
  packages/jobs/src/trigger/extract-inactive-conversations.ts
  packages/jobs/src/trigger/mark-expired-memories.test.ts
  packages/jobs/src/trigger/mark-expired-memories.ts
Due: lint, typecheck

feat: [] migrate project notes and tasks
  apps/web/src/app/(main)/projects/[id]/conversations/page.test.tsx
  apps/web/src/app/(main)/projects/[id]/notes/ProjectNotesPageClient.tsx
  apps/web/src/app/(main)/projects/[id]/notes/page.tsx
  apps/web/src/app/(main)/projects/[id]/tasks/ProjectTasksPageClient.tsx
  apps/web/src/app/(main)/projects/[id]/tasks/page.tsx
  apps/web/src/app/(main)/projects/page.tsx
  apps/web/src/app/api/v1/__tests__/project-notes-tasks.auth.test.ts
  apps/web/src/app/api/v1/projects/[id]/notes/[noteId]/route.ts
  apps/web/src/app/api/v1/projects/[id]/notes/route.ts
  apps/web/src/app/api/v1/projects/[id]/tasks/[taskId]/route.ts
  apps/web/src/app/api/v1/projects/[id]/tasks/route.ts
  apps/web/src/components/projects/ProjectNotesWorkspace.tsx
  apps/web/src/components/projects/ProjectTasksWorkspace.tsx
  apps/web/src/hooks/__tests__/useProjectNotes.test.tsx
  apps/web/src/hooks/__tests__/useProjectTasks.test.tsx
  apps/web/src/hooks/useLegacyProjectCacheSync.ts
  apps/web/src/hooks/useProjectNotes.ts
  apps/web/src/hooks/useProjectTasks.ts
Due: lint, typecheck

feat: [] move blob flows to r2 and postgres
  apps/mobile/components/chat/ChatInput.tsx
  apps/mobile/lib/hooks/useChatAttachmentUpload.ts
  apps/mobile/lib/hooks/useChatSTT.ts
  apps/mobile/lib/transport/mode.test.ts
  apps/mobile/lib/transport/mode.ts
  apps/mobile/lib/transport/uploads.test.ts
  apps/mobile/lib/transport/uploads.ts
  apps/mobile/tsconfig.json
  apps/web/src/app/__tests__/tts.test.ts
  apps/web/src/app/api/__tests__/code-execution.test.ts
  apps/web/src/app/api/code-execution/route.ts
  apps/web/src/app/tts/route.ts
  apps/web/src/lib/utils/__tests__/ttsUtils.test.ts
  apps/web/src/lib/utils/ttsUtils.ts
  packages/api-client/package.json
  packages/api-client/src/client.test.ts
  packages/api-client/src/client.ts
  packages/backend/convex/imageGenerationPrompt.ts
  packages/backend/convex/tools/codeExecution.ts
  packages/backend/package.json
  packages/jobs/src/trigger/generate-image.test.ts
  packages/jobs/src/trigger/generate-image.ts
  packages/persistence-postgres/__tests__/attachments.test.ts
  packages/persistence-postgres/src/index.ts
  packages/persistence-postgres/src/repositories/attachments.ts
  packages/persistence-postgres/src/repositories/tts-cache.ts
  packages/persistence-postgres/src/repositories/usage.ts
  packages/persistence-postgres/src/schema.ts
  packages/persistence-postgres/src/storage.ts
  packages/persistence-postgres/src/testing/pglite.ts
Due: lint, typecheck

feat: migrate chat attachments
  apps/web/src/app/api/v1/__tests__/files.test.ts
  apps/web/src/app/api/v1/__tests__/messages.test.ts
  apps/web/src/app/api/v1/files/upload-url/route.ts
  apps/web/src/components/chat/AttachmentPreview.tsx
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/FileUpload.tsx
  apps/web/src/components/chat/VoiceInput.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/hooks/useRestMessageSync.ts
  apps/web/src/lib/api/dal/__tests__/messages.attachments.test.ts
  apps/web/src/lib/api/dal/files.ts
  apps/web/src/lib/api/dal/messages.ts
  apps/web/src/lib/hooks/mutations/useSendMessage.ts
  apps/web/src/lib/persistence/mappers.ts
  apps/web/src/lib/persistence/storage.ts
  apps/web/src/types/optimistic.ts
  packages/persistence-postgres/__tests__/attachments.test.ts
  packages/persistence-postgres/src/storage.ts
Due: lint, typecheck

fix: [] guard Convex ids in web client
  apps/web/src/components/CommandPalette.tsx
  apps/web/src/components/chat/BookmarkButton.tsx
  apps/web/src/components/chat/ContextWindowIndicator.tsx
  apps/web/src/components/chat/MessageNotesIndicator.tsx
  apps/web/src/components/chat/ShareDialog.tsx
  apps/web/src/components/chat/__tests__/BookmarkButton.test.tsx
  apps/web/src/components/chat/__tests__/MessageNotesIndicator.test.tsx
  apps/web/src/components/chat/__tests__/ShareDialog.test.tsx
  apps/web/src/lib/api/dal/bookmarks.ts
  apps/web/src/lib/utils/__tests__/chatRouteIds.test.ts
  apps/web/src/lib/utils/chatRouteIds.ts
Due: lint, typecheck

refactor: delete Convex BYOD project generator
  apps/web/package.json
  apps/web/src/lib/byod/downloadProject.ts
  apps/web/src/lib/byod/router.ts
  apps/web/src/lib/byod/version.ts
  bun.lock
Due: lint, typecheck

feat: add MetricsCollector observability module
  apps/web/src/lib/observability/metrics.test.ts
  apps/web/src/lib/observability/metrics.ts
  apps/web/src/lib/observability/redis-health.test.ts
  apps/web/src/lib/observability/redis-health.ts
  apps/web/src/lib/observability/thresholds.test.ts
  apps/web/src/lib/observability/thresholds.ts
  apps/web/src/lib/observability/types.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/cli/CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/auto-router/CHANGELOG.md
  packages/auto-router/package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
  packages/streaming-core/CHANGELOG.md
  packages/streaming-core/package.json
Due: lint

ci: build workspace deps before trigger.dev deploy
  .github/workflows/deploy-trigger.yml
Due: none

ci: trigger deploy workflow on workspace dependency changes
  .github/workflows/deploy-trigger.yml
Due: none

chore: release main
  .release-please-manifest.json
  apps/cli/CHANGELOG.md
  apps/desktop/CHANGELOG.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/api-client/CHANGELOG.md
  packages/api-client/package.json
  packages/auto-router/CHANGELOG.md
  packages/auto-router/package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
  packages/streaming-core/CHANGELOG.md
  packages/streaming-core/package.json
Due: lint

fix: [] Resolve Postgres env bootstrap mismatch
  apps/web/src/app/api/v1/__tests__/env-bootstrap.auth.test.ts
  apps/web/src/lib/api/errors.ts
  apps/web/src/lib/api/middleware/auth.ts
  apps/web/src/lib/api/middleware/errors.test.ts
  apps/web/src/lib/api/middleware/errors.ts
  apps/web/src/lib/generation-v2/__tests__/store.test.ts
  apps/web/src/lib/generation-v2/runtime.ts
  apps/web/src/lib/generation-v2/store.ts
  apps/web/src/lib/persistence/server.ts
  package.json
  packages/persistence-postgres/__tests__/env.test.ts
  packages/persistence-postgres/src/clients/redis.ts
  packages/persistence-postgres/src/env.ts
Due: lint, typecheck

fix: address review feedback
  apps/web/src/lib/api/middleware/errors.test.ts
  apps/web/src/lib/api/middleware/errors.ts
  package.json
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

fix: repair dependabot auto-merge trigger
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: [] reconcile Clerk users by email
  apps/web/src/app/api/v1/__tests__/conversations.auth.test.ts
  apps/web/src/app/api/webhooks/__tests__/clerk.reconcile.test.ts
  packages/persistence-postgres/__tests__/users-preferences.test.ts
  packages/persistence-postgres/src/repositories/users.ts
Due: lint, typecheck
