Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix: handle first sign-in account sync fallback
  apps/web/src/app/(main)/app/__tests__/page.test.ts
  apps/web/src/lib/persistence/__tests__/current-user.test.ts
  apps/web/src/lib/persistence/clerkClaimsDrift.ts
  apps/web/src/lib/persistence/current-user.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

fix: trace pg runtime dependency
  packages/persistence-postgres/__tests__/db.test.ts
  packages/persistence-postgres/src/db.ts
Due: lint, typecheck

fix: preserve vercel function configs
  .github/workflows/release.yml
Due: none

fix: disable onboarding blockers
  apps/web/src/app/(main)/MainLayoutClient.tsx
Due: lint, typecheck

test: keep smoke gate liveness-only
  apps/web/e2e/smoke-staging.spec.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

feat: add Docker Compose self-hosting setup
  .env.local.example
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  SELF_HOSTING.md
  docker-compose.dev.yml
  docker-compose.yml
  docker/README.md
  docker/env.example
  docker/web-entrypoint.sh
  docs/README.md
  docs/architecture/README.md
  docs/features/byod.md
  docs/models/README.md
  docs/spec.md
  turbo.json
Due: lint

docs: wrap local URLs in autolinks
  SELF_HOSTING.md
  docker/README.md
Due: none

fix: improve dependency outage errors
  apps/web/src/lib/api/__tests__/rate-limit.test.ts
  apps/web/src/lib/api/middleware/errors.ts
  apps/web/src/lib/api/rate-limit.ts
Due: lint, typecheck

fix: update Clerk auth redirects
  apps/web/src/app/(auth)/sign-in/[[...sign-in]]/page.tsx
  apps/web/src/app/(auth)/sign-up/[[...sign-up]]/page.tsx
  apps/web/src/components/providers/app-providers.tsx
  apps/web/src/components/sidebar/SidebarUserButton.tsx
  apps/web/src/components/sidebar/admin-sidebar.tsx
Due: lint, typecheck

fix: restore brand icons after lucide update
  apps/web/src/app/(main)/projects/[id]/knowledge/ProjectKnowledgePageClient.tsx
  apps/web/src/app/LandingPageClient.tsx
  apps/web/src/components/chat/toolCallUtils.ts
  apps/web/src/components/chat/toolRenderers/SearchKnowledgeBankRenderer.tsx
  apps/web/src/components/chat/toolRenderers/types.ts
  apps/web/src/components/knowledge/KnowledgeFilters.tsx
  apps/web/src/components/knowledge/constants.ts
  apps/web/src/components/settings/KnowledgeBankAddSourceDialog.tsx
  apps/web/src/components/ui/svgs/github.tsx
Due: lint, typecheck

fix: support TypeScript 6 web build
  apps/web/src/lib/test/setup.ts
  apps/web/src/types/css.d.ts
Due: lint, typecheck

fix: reduce trigger schedule usage
  packages/jobs/src/index.ts
  packages/jobs/src/trigger/byod-health-check.ts
  packages/jobs/src/trigger/check-health.test.ts
  packages/jobs/src/trigger/check-health.ts
  packages/jobs/src/trigger/check-metrics-thresholds.ts
  packages/jobs/src/trigger/check-provider-health.ts
  packages/jobs/src/trigger/cleanup-stale-generation-sessions.test.ts
  packages/jobs/src/trigger/cleanup-stale-generation-sessions.ts
  packages/jobs/src/trigger/cleanup-stale-incognito.test.ts
  packages/jobs/src/trigger/cleanup-stale-incognito.ts
  packages/jobs/src/trigger/extract-inactive-conversations.test.ts
  packages/jobs/src/trigger/extract-inactive-conversations.ts
  packages/jobs/src/trigger/generation-maintenance.test.ts
  packages/jobs/src/trigger/generation-maintenance.ts
  packages/jobs/src/trigger/maintenance-utils.ts
  packages/jobs/src/trigger/mark-expired-memories.test.ts
  packages/jobs/src/trigger/mark-expired-memories.ts
  packages/jobs/src/trigger/memory-maintenance.test.ts
  packages/jobs/src/trigger/memory-maintenance.ts
  packages/jobs/src/trigger/recover-stuck-generations.test.ts
  packages/jobs/src/trigger/recover-stuck-generations.ts
  packages/jobs/src/trigger/recover-stuck-messages.test.ts
  packages/jobs/src/trigger/recover-stuck-messages.ts
  packages/jobs/src/trigger/telemetry-heartbeat.test.ts
  packages/jobs/src/trigger/telemetry-heartbeat.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/jobs/CHANGELOG.md
  packages/jobs/package.json
Due: lint

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
