Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lefthook.yml:

# Lefthook configuration for git hooks
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit: Run lint and typecheck on staged files
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    byod-schema-sync:
      glob: "apps/web/src/lib/byod/**/*.ts"
      run: bun run byod:sync
      stage_fixed: true

# Pre-push: Run full build to ensure it doesn't break
pre-push:
  commands:
    build:
      run: bun run build

chore: bump desktop manifest to 0.2.4
  .release-please-manifest.json
Due: lint

feat: desktop companion controls
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/web/src/app/(main)/settings/page.tsx
  apps/web/src/app/api/v1/__tests__/conversations.test.ts
  apps/web/src/app/api/v1/conversations/route.ts
  apps/web/src/components/settings/DesktopAppSettings.tsx
  apps/web/src/lib/api/dal/conversations.ts
  apps/web/src/lib/api/middleware/auth.test.ts
  apps/web/src/lib/api/middleware/auth.ts
  apps/web/src/lib/desktop/ipc.ts
  packages/shared/src/desktop.ts
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
Due: lint

chore: release main
  .release-please-manifest.json
  apps/desktop/CHANGELOG.md
Due: lint

fix: raycast ci filter
  .github/workflows/release-raycast.yml
Due: none

fix: raycast ci install
  .github/workflows/release-raycast.yml
Due: none

fix: unblock CI convex dry run + sdk build
  .github/workflows/deploy.yml
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/rpc.ts
  packages/sdk/tsconfig.json
Due: lint, typecheck

fix: mobile new chat access
  apps/web/e2e/conversation-crud.spec.ts
  apps/web/src/app/(main)/MainLayoutClient.tsx
  apps/web/src/components/ui/sidebar.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/desktop/CHANGELOG.md
  package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: lint

feat: pin sent message to top
  apps/cli/src/components/ChatView.tsx
  apps/cli/src/components/MessageList.tsx
  apps/mobile/app/(app)/chat/[id].tsx
  apps/mobile/app/(app)/chat/new.tsx
  apps/mobile/app/(drawer)/chat/[id].tsx
  apps/mobile/app/(drawer)/chat/new.tsx
  apps/mobile/components/chat/MessageList.tsx
  apps/raycast/src/ask.tsx
  apps/raycast/src/continue.tsx
  apps/web/e2e/chat-flow.spec.ts
  apps/web/src/app/(main)/chat/[conversationId]/page.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: pin sent message scroll
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: pin sent message top-align
  apps/web/src/app/(main)/chat/[conversationId]/page.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/__tests__/useOptimisticMessages.test.ts
  apps/web/src/hooks/useOptimisticMessages.ts
Due: lint, typecheck

fix: stop pin scroll jitter
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: enforce user-before-assistant ordering
  apps/web/src/hooks/__tests__/useOptimisticMessages.test.ts
  apps/web/src/hooks/useOptimisticMessages.ts
Due: lint, typecheck

fix: stabilize pinned scroll + message order
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/__tests__/useOptimisticMessages.test.ts
  apps/web/src/hooks/useOptimisticMessages.ts
Due: lint, typecheck

fix: stop ref-driven rerender loop
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: make pin scroll deterministic
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: drop pin spacer at bottom
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: avoid excessive pin spacer
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

fix: stabilize pinned top-align scroll
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

Add cognitive memory SDK (Phase 1: Core)
  COGNITIVE_MEMORY_SDK_PLAN.md
  packages/cognitive-memory/README.md
  packages/cognitive-memory/package.json
  packages/cognitive-memory/src/adapters/base.ts
  packages/cognitive-memory/src/core/CognitiveMemory.ts
  packages/cognitive-memory/src/core/decay.ts
  packages/cognitive-memory/src/core/types.ts
  packages/cognitive-memory/src/index.ts
  packages/cognitive-memory/src/utils/embeddings.ts
  packages/cognitive-memory/src/utils/scoring.ts
  packages/cognitive-memory/tsconfig.json
Due: lint, typecheck

Add Convex adapter and schema extensions (Phase 2)
  packages/backend/convex/migrations/add_cognitive_memory_fields.ts
  packages/backend/convex/schema.ts.backup
  packages/cognitive-memory/package.json
  packages/cognitive-memory/src/adapters/convex.ts
  packages/cognitive-memory/src/index.ts
Due: lint, typecheck

Add comprehensive technical specification for cognitive memory
  docs/cognitive-memory-technical-spec.md
Due: none

feat: cognitive memory v1
  .gitignore
  COGNITIVE_MEMORY_SDK_PLAN.md
  bun.lock
  docs/cognitive-memory-technical-spec.md
  packages/backend/convex/_generated/api.d.ts
  packages/backend/convex/memories.ts
  packages/backend/convex/memories/cognitive.ts
  packages/backend/convex/memoryLinks.ts
  packages/backend/convex/migrations/add_cognitive_memory_fields.ts
  packages/backend/convex/schema.ts
  packages/backend/convex/schema.ts.backup
  packages/backend/package.json
  packages/cognitive-memory/README.md
  packages/cognitive-memory/__tests__/CognitiveMemory.test.ts
  packages/cognitive-memory/__tests__/adapters/convex.test.ts
  packages/cognitive-memory/__tests__/decay.test.ts
  packages/cognitive-memory/__tests__/embeddings.test.ts
  packages/cognitive-memory/__tests__/scoring.test.ts
  packages/cognitive-memory/package.json
  packages/cognitive-memory/src/adapters/base.ts
  packages/cognitive-memory/src/adapters/convex.ts
  packages/cognitive-memory/src/adapters/index.ts
  packages/cognitive-memory/src/core/CognitiveMemory.ts
  packages/cognitive-memory/src/core/decay.ts
  packages/cognitive-memory/src/core/index.ts
  packages/cognitive-memory/src/core/types.ts
  packages/cognitive-memory/src/index.ts
  packages/cognitive-memory/src/utils/embeddings.ts
  packages/cognitive-memory/src/utils/index.ts
  packages/cognitive-memory/src/utils/scoring.ts
  packages/cognitive-memory/tsconfig.json
  packages/cognitive-memory/vitest.config.ts
Due: lint, typecheck
