Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(tree): ensure deactivateSubtree patches undefined isActiveBranch values
  packages/backend/convex/lib/tree.ts
Due: lint, typecheck

fix(tree): prevent duplicate IDs in BFS traversal for DAG with multi-parent nodes
  packages/backend/convex/lib/tree.ts
Due: lint, typecheck

chore(main): release 1.7.0
  CHANGELOG.md
  package.json
Due: lint

bd sync: 2026-01-20 15:42:15
  .beads/issues.jsonl
Due: none

docs: mark P7 message operations as complete
  docs/openwebui/issues/P7-architecture/02-message-operations.md
Due: none

fix(chat): use padding instead of margin for Virtuoso height measurement
  apps/web/src/components/chat/ChatMessage.tsx
  apps/web/src/components/chat/MessageListSkeleton.tsx
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

refactor: remove unnecessary String() wrapper in computeItemKey
  apps/web/src/components/chat/VirtualizedMessageList.tsx
Due: lint, typecheck

chore(main): release 1.7.1
  CHANGELOG.md
  package.json
Due: lint

docs: mark P8 virtualization as complete
  .beads/issues.jsonl
  docs/openwebui/issues/P8-performance/01-virtualization.md
Due: none

perf: extract sortedCalls to separate useMemo in InlineToolCallContent
  apps/web/src/components/chat/InlineToolCallContent.tsx
Due: lint, typecheck

bd sync: 2026-01-20 18:00:56
  .beads/issues.jsonl
Due: none

fix(chat): extract conversationId from branchFromMessage result
  apps/mobile/components/chat/MessageList.tsx
  apps/web/src/components/chat/MessageActions.tsx
Due: lint, typecheck

chore(main): release 1.7.2
  CHANGELOG.md
  package.json
Due: lint

fix(chat): debounce mermaid rendering to prevent streaming errors
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

fix: add null guard instead of type assertion for stableCode
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

fix: capture stableCode in closure to prevent async race conditions
  apps/web/src/components/chat/MermaidRenderer.tsx
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
