Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(ci): fallback portable check when rg missing
  scripts/check-portable-imports.ts
Due: lint, typecheck

chore(main): release 1.22.0
  CHANGELOG.md
  package.json
Due: lint

fix: repair dependabot merge automation
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-lockfile.yml
  .github/workflows/deploy.yml
Due: none

ci: move sdk and cli releases to release-please
  .github/workflows/release-cli.yml
  .github/workflows/release-please.yml
  .github/workflows/release-sdk.yml
  .release-please-config.json
  .release-please-manifest.json
Due: lint

chore: auto-bump sdk version on sdk changes
  lefthook.yml
  package.json
  packages/sdk/package.json
  scripts/auto-bump-sdk-version.ts
Due: lint, typecheck

fix: stabilize iOS mobile chat input focus
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/__tests__/ChatInput.test.tsx
  apps/web/src/hooks/__tests__/useIOSKeyboard.test.ts
  apps/web/src/hooks/useIOSKeyboard.ts
  apps/web/src/hooks/useMobileDetect.ts
Due: lint, typecheck

feat: add desktop app shell and automated release pipeline
  .github/workflows/ci.yml
  .github/workflows/release-desktop.yml
  .github/workflows/release-please-auto-merge.yml
  .release-please-config.json
  .release-please-manifest.json
  apps/desktop/.gitignore
  apps/desktop/README.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/build.rs
  apps/desktop/src-tauri/capabilities/desktop-shell.json
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/web/src/app/desktop/quick/page.tsx
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/sdkClient.ts
  apps/web/src/lib/desktop/ipc.ts
  apps/web/src/lib/platform/desktopShell.ts
  bun.lock
  docs/guides/desktop-release-automation.md
  package.json
  packages/shared/package.json
  packages/shared/src/desktop.ts
  packages/shared/src/index.ts
  scripts/check-desktop-version-sync.ts
Due: lint, typecheck

fix: stabilize desktop build and updater defaults
  .github/workflows/release-desktop.yml
  apps/desktop/README.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  docs/guides/desktop-release-automation.md
Due: lint

fix: skip desktop build on non-mac CI hosts
  apps/desktop/package.json
Due: lint

fix: detect dependabot PR number from workflow_run payload
  .github/workflows/dependabot-auto-merge.yml
Due: none

fix: add head_sha fallback for dependabot PR lookup
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  apps/cli/CHANGELOG.md
  apps/desktop/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: lint

fix: preserve mobile chat input caret focus
  apps/web/src/contexts/SelectionContext.tsx
  apps/web/src/contexts/__tests__/SelectionContext.test.tsx
Due: lint, typecheck

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: lint

fix: harden touch chat input focus stability
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/contexts/SelectionContext.tsx
  apps/web/src/contexts/__tests__/SelectionContext.test.tsx
Due: lint, typecheck

fix: normalize tool names to satisfy provider limits
  packages/backend/convex/generation/tools.ts
  packages/backend/convex/lib/toolNames.ts
  packages/backend/convex/lib/utils/__tests__/toolNames.test.ts
Due: lint, typecheck

fix: use legacy bible parser bundle in mobile build
  apps/mobile/lib/bible/parser-legacy.d.ts
  apps/mobile/lib/bible/parser.ts
Due: lint, typecheck

fix: harden tool name collision handling
  packages/backend/convex/generation/tools.ts
  packages/backend/convex/lib/toolNames.ts
  packages/backend/convex/lib/utils/__tests__/toolNames.test.ts
Due: lint, typecheck

chore: update desktop dev server and deep link imports
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
Due: lint

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
