Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(input): prevent Enter submission during IME composition
  apps/web/src/components/chat/ChatInput.tsx
  apps/web/src/components/chat/ExpandedInputDialog.tsx
  apps/web/src/components/sidebar/RenameDialog.tsx
  apps/web/src/hooks/useChatInputKeyboard.ts
Due: lint, typecheck

fix: remove underscore prefix from isComposing variable
  apps/web/src/components/chat/ChatInput.tsx
Due: lint, typecheck

docs: mark IME composition guard as complete
  .beads/issues.jsonl
  docs/openwebui/issues/P2-input/02-ime-composition.md
Due: none

feat(input): auto-convert large pastes to file attachments
  apps/web/src/components/chat/ChatInput.tsx
Due: lint, typecheck

bd sync: update paste handling issue status
  .beads/issues.jsonl
Due: none

fix: read textarea.value to avoid race condition in insertTextAtCursor
  apps/web/src/components/chat/ChatInput.tsx
Due: lint, typecheck

chore(main): release 1.1.0
  CHANGELOG.md
  package.json
Due: lint

bd sync: 2026-01-18 17:43:22
  .beads/issues.jsonl
Due: none

docs: mark paste handling issue as done (PR #168)
  docs/openwebui/issues/P2-input/03-paste-handling.md
Due: none

feat(generation): release lock on completion, stop, and error
  packages/backend/convex/generation.ts
Due: lint, typecheck

feat(chat): add lock check and acquisition in sendMessage
  packages/backend/convex/chat.ts
Due: lint, typecheck

feat(schema): add generationLocks table for concurrent generation prevention
  packages/backend/convex/schema.ts
Due: lint, typecheck

feat(generation): add generation lock utility module
  packages/backend/convex/lib/generationLock.ts
Due: lint, typecheck

feat(recovery): integrate lock release with stuck message recovery
  packages/backend/convex/messages/recovery.ts
Due: lint, typecheck

chore(crons): add stale generation lock cleanup every 5 minutes
  packages/backend/convex/crons.ts
Due: lint, typecheck

fix: address code review feedback for generation lock
  packages/backend/convex/chat.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/lib/generationLock.ts
Due: lint, typecheck

fix: add lock release on message creation failure and improve stale cleanup
  packages/backend/convex/chat.ts
  packages/backend/convex/lib/generationLock.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
