Repository planetaryescape/blah.chat: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, byod-schema-sync

lint:
  run: bun run biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: bun run typecheck

byod-schema-sync:
  run: bun run byod:sync
  stage_fixed: true

fix(mobile): disable typecheck that fails on backend path aliases
  apps/mobile/package.json
Due: lint

docs: mark stop generation race condition as done
  docs/openwebui/issues/P0-critical/02-stop-generation-race.md
Due: none

chore: sync bd issues
  .beads/issues.jsonl
Due: none

fix(generation): prevent Unicode splitting crashes
  packages/backend/convex/generation.ts
  packages/backend/convex/lib/utils/__tests__/utf8Safe.test.ts
  packages/backend/convex/lib/utils/utf8Safe.ts
Due: lint, typecheck

feat(ci): migrate to tag-based deployments with release-please
  .github/release.yml
  .github/workflows/deploy.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/rollback.yml
  .release-please-manifest.json
  release-please-config.json
Due: lint

fix(ci): align release-please with easydeck pattern
  .github/release.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: lint

fix(generation): prevent race condition in message status updates
  packages/backend/convex/generation.ts
  packages/backend/convex/lib/message-status.ts
  packages/backend/convex/messages.ts
  packages/backend/convex/messages/thinking.ts
Due: lint, typecheck

chore(byod-schema): reorganize imports and update config
  packages/byod-schema/convex.json
  packages/byod-schema/convex/bundled-schema.ts
  packages/byod-schema/convex/functions.ts
  packages/byod-schema/convex/schema.ts
  packages/byod-schema/package.json
  packages/byod-schema/schema-string.ts
  packages/byod-schema/tsconfig.json
Due: lint, typecheck

fix(generation): address PR review comments
  apps/web/src/lib/byod/version.ts
  packages/backend/convex/generation.ts
  packages/backend/convex/lib/message-status.ts
  packages/backend/convex/messages.ts
  packages/backend/convex/messages/thinking.ts
  packages/byod-schema/convex.json
  packages/byod-schema/convex/bundled-schema.ts
  packages/byod-schema/convex/functions.ts
  packages/byod-schema/convex/schema.ts
  packages/byod-schema/package.json
  packages/byod-schema/schema-string.ts
  packages/byod-schema/tsconfig.json
Due: lint, typecheck

bd sync: 2026-01-17 06:42:16
  .beads/issues.jsonl
Due: none

feat(scroll): add velocity-based scroll intent detection
  .beads/issues.jsonl
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/useScrollIntent.ts
Due: lint, typecheck

bd sync: 2026-01-17 07:11:07
  .beads/issues.jsonl
Due: none

fix: resolve type errors in VirtualizedMessageList and generation
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  packages/backend/convex/generation.ts
Due: lint, typecheck

docs: mark scroll threshold optimization as complete
  docs/openwebui/issues/P1-scroll/01-threshold-optimization.md
Due: none

feat(scroll): add smooth scrolling animations
  .beads/issues.jsonl
  apps/web/src/app/globals.css
  apps/web/src/components/chat/VirtualizedMessageList.tsx
  apps/web/src/hooks/usePrefersReducedMotion.ts
  apps/web/src/lib/smooth-scroll.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
  byod-schema-sync: any of: apps/web/src/lib/byod/**/*.ts
